@import '../../variables';
@import '../../mixins';

@include modal-content('auth') {
	$max-width: 800px;
	$margin: 20px;
	
	display: flex;
	flex-direction: column;
	width: calc(min(100vw - #{$margin * 2}, #{$max-width}));
	overflow: hidden;
	margin: $margin;
	background: white;
	border-radius: 8px;
	
	> .top {
		padding: 20px 30px;
		background: linear-gradient(10deg, #5a2aff, #00e5f4);
		
		> .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: white;
			
			> .title {
				font-size: 24px;
				font-weight: 900;
				
				@media (min-width: 485px) {
					font-size: 30px;
				}
			}
			
			> .hide {
				margin: 0 8px;
				transform: scale(2);
				transition: opacity 0.3s;
				
				&:hover {
					opacity: 0.5;
				}
			}
		}
		
		> .tabs {
			display: flex;
			align-items: center;
			margin-top: 10px;
			
			> button {
				padding: 0 10px 1px;
				font-size: 20px;
				font-weight: 900;
				color: white;
				opacity: 0.8;
				border-bottom: 2px solid transparent;
				transition: opacity 0.3s, border-color 0.3s;
				
				&.selected {
					opacity: 1;
					border-color: white;
				}
				
				&:not(.selected):hover {
					opacity: 1;
					border-color: transparentize(white, 0.5);
				}
				
				&:not(:last-child) {
					margin-right: 12px;
				}
			}
		}
	}
	
	> form {
		display: flex;
		flex-direction: column;
		padding: 30px;
		
		> input {
			padding: 12px 30px;
			color: $dark-gray;
			background: transparentize(#f0f1f8, 0.32);
			border: none;
			border-radius: 100px;
			
			&:not(:first-child) {
				margin-top: 12px;
			}
		}
		
		> .footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 24px;
			
			> button {
				$small-dimension: 43px;
				
				display: flex;
				justify-content: center;
				align-items: center;
				width: 112px;
				height: $small-dimension;
				font-size: 18px;
				font-weight: 900;
				color: white;
				background: #5a2aff;
				border-radius: 100px;
				transition: width 0.3s, background 0.3s, opacity 0.3s;
				
				&.loading {
					width: $small-dimension;
				}
				
				&.disabled {
					opacity: 0.5;
				}
				
				&:not(:disabled):hover {
					background: #051e34;
				}
			}
			
			> .error-message {
				font-weight: 900;
				color: $red-600;
			}
			
			> .info {
				display: none;
				font-weight: 900;
				color: #5a2aff;
				transition: opacity 0.3s;
				
				@media (min-width: 415px) {
					display: initial;
				}
				
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
