@import '../../functions';

.card-cell {
	break-inside: avoid;
	
	> .sides {
		display: grid;
		grid: auto / 1fr 1px 1fr;
		
		> .side {
			display: flex;
			flex-direction: column;
			
			> div {
				padding: 8px;
			}
			
			> p {
				margin: auto raw-repeat(3, 8px);
				text-align: center;
				text-transform: uppercase;
				color: #9b9b9b;
			}
		}
		
		> .divider {
			width: 2px;
			margin: 8px 0;
			background: #eee;
		}
	}
}
