@import '../../functions';

.card-cell {
	background: white;
	border: 2px solid #eee;
	border-radius: 5px;
	box-shadow:
		0 0 15px -3px rgba(0, 0, 0, 0.1),
		0 0 6px -2px rgba(0, 0, 0, 0.05);
	
	> .sides {
		display: grid;
		grid: auto / 1fr 1px 1fr;
		
		> .side {
			display: flex;
			flex-direction: column;
			
			> div {
				padding: 8px;
			}
			
			> p {
				margin: auto raw-repeat(3, 8px);
				text-align: center;
				text-transform: uppercase;
				color: #9b9b9b;
			}
		}
		
		> .divider {
			width: 2px;
			margin: 8px 0;
			background: #eee;
		}
	}
}
