@use '../mixins' as *;

.root {
	@include gradient-background;
	
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.title {
	margin: auto;
	text-align: center;
	font-weight: 900;
	color: white;
}
