@use '../mixins' as *;

.root {
	@include gradient-background;
	
	padding: 30px;
}

.title {
	font-size: 40px;
	font-weight: 900;
	color: white;
}

.description {
	margin-top: 8px;
	font-size: 20px;
	font-weight: 900;
	color: white;
}

.by {
	margin: 20px 0;
	padding-bottom: 12px;
	font-weight: 900;
	color: white;
	opacity: 0.7;
	border-bottom: 2px solid transparentize(white, 0.9);
}

.email {
	text-decoration: none;
	color: inherit;
	
	&:hover {
		text-decoration: underline;
	}
}

.body {
	line-height: 1.5;
	font-size: larger;
	font-weight: bold;
	color: white;
	
	> :last-child {
		margin-bottom: 0;
	}
	
	* {
		margin-bottom: 16px;
	}
	
	li,
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-bottom: 0;
	}
	
	li:not(:first-child) {
		margin-top: 0.25em;
	}
	
	ul,
	ol {
		padding-left: 2em;
	}
	
	blockquote {
		padding-left: 12px;
		border-left: thick solid white;
	}
	
	pre,
	code {
		background: #202331;
	}
	
	pre {
		padding: 16px 20px;
		border-radius: 8px;
		
		> :last-child {
			display: none;
		}
		
		* {
			margin-bottom: 0;
		}
	}
	
	code {
		padding: 4px 8px;
		color: #f78c6c;
		border-radius: 5px;
	}
}
