service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{uid} {
			allow read, write: if signedInWith(uid)
			match /name {
				allow read
				allow write: if signedInWith(uid) && isValidString(newData())
			}
			match /email {
				allow read, write: if signedInWith(uid) && checkEmail(newData()) && isValidString(newData())
			}
			match /link {
				allow read
				allow write: if signedInWith(uid) && isValidString(newData())
			}
			match /decks/{deckId} {
				allow read, write: if signedInWith(uid)
				match /mastered {
					allow read, create: if signedInWith(uid) && newData() == 0
				}
				match /cards/{cardId} {
					allow read, create: if signedInWith(uid)
					match /count {
						allow read, create: if signedInWith(uid) && newData() == 0
					}
					match /correct {
						allow read, create: if signedInWith(uid) && newData() == 0
					}
					match /streak {
						allow read, create: if signedInWith(uid) && newData() == 0
					}
					match /last {
						allow read: if signedInWith(uid)
					}
					match /history/{historyId} {
						allow read, create: if signedInWith(uid)
						match /date {
							allow read: if signedInWith(uid)
						}
						match /next {
							allow read: if signedInWith(uid)
						}
						match /correct {
							allow read, create: if signedInWith(uid) && newData().isBoolean()
						}
						match /elapsed {
							allow read: if signedInWith(uid)
						}
					}
				}
			}
		}
		match /emails/{email} {
			allow read: if signedInWith(oldData().id)
		}
		match /links/{link} {
			allow read
		}
		match /decks/{deckId} {
			allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
			allow write: if isDeckOwner(deckId) || canEditDeck(deckId)
      		allow create: if signedIn()
			match /name {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow write: if (isDeckOwner(deckId) || canEditDeck(deckId)) && isValidString(newData())
        		allow create: if signedIn() && isValidString(newData())
			}
			match /description {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow write: if (isDeckOwner(deckId) || canEditDeck(deckId)) && newData().isString()
        		allow create: if signedIn() && newData().isString()
			}
			match /public {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow write: if isDeckOwner(deckId) && newData().isBoolean()
        		allow create: if signedIn() && newData().isBoolean()
			}
			match /count {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow create: if signedIn() && newData() == 0
			}
			match /creator {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow create: if signedInWith(newData()) && isValidString(newData())
			}
			match /owner {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow write: if signedInWith(oldData()) && userExists(newData()) && isValidString(newData())
        		allow create: if signedInWith(newData()) && isValidString(newData())
			}
			match /permissions/{userId} {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId)
				allow write: if isDeckOwner(deckId)
				match /role {
					allow read: if isDeckOwner(deckId) || canViewDeck(deckId)
					allow write: if isDeckOwner(deckId) && (newData() == 'viewer' || newData() == 'editor')
				}
			}
			match /cards/{cardId} {
				allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
				allow write: if isDeckOwner(deckId) || canEditDeck(deckId)
				match /front {
					allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
					allow write: if (isDeckOwner(deckId) || canEditDeck(deckId)) && isValidString(newData())
				}
				match /back {
					allow read: if isDeckOwner(deckId) || canViewDeck(deckId) || isDeckPublic(deckId)
					allow write: if (isDeckOwner(deckId) || canEditDeck(deckId)) && isValidString(newData())
				}
			}
		}

		function authId() {
			return request.auth.uid
		}

		function signedIn() {
			return request.auth != null
		}

		function signedInWith(uid) {
			return signedIn() && (authId() == uid)
		}

		function oldData() {
			return resource.data
		}

		function newData() {
			return request.resource.data
		}

		function isValidString(data) {
			return data.isString() && data != ''
		}

		function checkEmail(email) {
			return true
		}

		function canViewDeck(deckId) {
			return exists(/databases/$(database)/documents/decks/$(deckId)/permissions/$(authId()))
		}

		function canEditDeck(deckId) {
			return get(/databases/$(database)/documents/decks/$(deckId)/permissions/$(authId())).data.role == 'editor'
		}

		function isDeckOwner(deckId) {
			return signedInWith(get(/databases/$(database)/documents/decks/$(deckId)).data.owner)
		}

		function isDeckPublic(deckId) {
			return get(/databases/$(database)/documents/decks/$(deckId)).data.public
		}

		function userExists(userId) {
			return exists(/databases/$(database)/documents/users/$(userId))
		}
	}
}