@font-face {
	font-family: Muli;
	src: url('../Muli-Regular.ttf') format('truetype');
}

html {
	line-height: 1.5;
}

body,
body *,
body ::before,
body ::after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	border: none;
	outline: none;
}

body,
body ::before,
body ::after,
body :not(pre):not(code) {
	font-family: Muli, Arial, Helvetica, sans-serif !important;
}

body {
	margin: 0;
}

.ck.ck-dropdown__panel.ck-dropdown__panel_sw > .ck.ck-toolbar > .ck.ck-toolbar__items {
	width: calc(100vw - 20px) !important;
	flex-wrap: wrap !important;
}

.ck.ck-editor__main > .ck-editor__editable {
	height: calc(100vh - 40.2px) !important;
}
