@font-face {
	font-family: Muli;
	src: url('../Muli-Regular.ttf') format('truetype');
}

body {
	font-family: Muli, Arial, Helvetica, sans-serif !important;
	margin: 0 !important;
}

body * {
	font-family: Muli, Arial, Helvetica, sans-serif !important;
}

.ck.ck-dropdown__panel.ck-dropdown__panel_sw > .ck.ck-toolbar > .ck.ck-toolbar__items {
	width: calc(100vw - 10px * 2) !important;
	flex-wrap: wrap !important;
}

.ck.ck-editor__main > .ck-editor__editable {
	height: calc(100vh - 40.2px) !important;
}
