@use 'styles/colors';
@use 'styles/text';
@use 'styles/shadow';
@use 'styles/dashboard';

@include dashboard.sidebar-collapse(1200px);

.container {
	scroll-behavior: smooth;
}

.content {
	@include shadow.large;

	overflow: hidden;
	margin: 20px var(--horizontal-padding) var(--horizontal-padding);
	background: white;
	border-radius: 8px;
}

.top {
	display: grid;
	grid:
		'image image' auto
		'meta meta' auto
		'main main' auto /
		auto auto;
	gap: 20px 30px;
	margin: var(--inner-horizontal-padding);

	@media (min-width: 700px) {
		grid:
			'image meta' auto
			'main main' auto /
			auto 1fr;
	}

	@media (min-width: 800px) {
		grid:
			'image main' auto
			'meta main' 1fr /
			auto 1fr;
	}
}

.meta {
	grid-area: meta;
}

.name {
	@include text.line-limit(2);

	margin-bottom: 12px;
	font-size: 30px;
	font-weight: 800;
	color: colors.$dark-gray;
}

.main {
	grid-area: main;
	overflow: hidden;
	margin-top: 10px;

	@media (min-width: 800px) {
		margin-top: 0;
	}
}
