@use 'styles/colors';
@use 'styles/text';
@use 'styles/shadow';
@use 'styles/dashboard';

@include dashboard.sidebar-collapse(1150px);

.container {
	scroll-behavior: smooth;
}

.content {
	@include shadow.large;

	overflow: hidden;
	margin: var(--horizontal-padding);
	padding: 20px var(--inner-horizontal-padding) var(--inner-horizontal-padding);
	background: white;
	border-radius: 8px;
}

.name {
	@include text.line-limit(2);

	margin-bottom: 12px;
	font-size: 30px;
	font-weight: 800;
	color: colors.$dark-gray;
}
