.root {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px var(--inner-horizontal-padding) 0;
}

.item + .item {
	$spacing: 20px;

	margin-left: $spacing;
	padding-left: $spacing;
	border-left: 2px solid #eee;
}
