body {
	padding: 30px;
}

.title {
	margin-bottom: 20px;
	padding-bottom: 8px;
	font-weight: 900;
	border-bottom: 1px solid #eee;
}

#operations {
	list-style: none;
}

.operation {
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
	color: #007aff;
}

.operation:hover,
.operation:focus {
	text-decoration: underline;
}
