body {
	padding: 30px;
}

#title {
	padding-bottom: 8px;
	font-weight: 900;
	border-bottom: 1px solid #eee;
}

label,
input {
	display: block;
	width: 100%;
	color: #4a4a4a;
}

label {
	margin: 24px 0 12px;
	font-weight: 900;
}

input {
	padding: 14px 20px;
	background: #f0f1f8d1;
	border-radius: 15px;
}

label > span {
	opacity: 0.7;
}

button {
	margin-top: 24px;
	padding: 10px 20px;
	font-weight: 900;
	color: white;
	background: #007aff;
	border-radius: 8px;
	transition: opacity 0.3s;
}

button:disabled {
	opacity: 0.5;
}

#status-text {
	margin-top: 12px;
	font-weight: 900;
	color: #4a4a4a;
}

#status-text[data-value='success'] {
	color: #00d388;
}

#status-text[data-value='error'] {
	color: #e53e3e;
}
