@import '../../mixins';

@include dashboard-sidebar-collapse('cram', 980px);

@include dashboard-content('cram') {
	padding: 0 30px;
	
	> .cram-navbar {
		$button-height: 40px;
		
		display: flex;
		align-items: center;
		overflow-x: auto;
		margin-top: 20px;
		
		> * {
			flex-shrink: 0;
		}
		
		> .back,
		> .skip,
		> .recap {
			height: $button-height;
			color: white;
			border: 2px solid transparentize(#eee, 0.8);
			border-radius: 8px;
			transition: opacity 0.3s, border-color 0.3s;
			
			&:hover {
				opacity: 0.5;
				border-color: transparentize(#eee, 0.6);
			}
		}
		
		> .back {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $button-height;
			margin-right: 12px;
			
			> svg {
				transform: scale(1.5);
				transition: transform 0.3s;
			}
			
			&:hover > svg {
				transform: scale(1.7);
			}
		}
		
		> .progress,
		> .skip,
		> .recap {
			font-weight: 900;
		}
		
		> .progress {
			margin-right: auto;
			font-size: 25px;
			color: white;
			transform: translateY(-1px);
		}
		
		> .skip,
		> .recap {
			padding: 0 12px;
			text-transform: uppercase;
			font-size: 18px;
		}
		
		> .skip {
			margin: 0 12px;
		}
	}
	
	> .sliders {
		max-width: 600px;
		margin: 20px auto 0;
		border-collapse: separate;
		border-spacing: 15px 10px;
		
		> tbody > tr {
			> .title {
				text-align: right;
				font-weight: 900;
				color: white;
				transition: opacity 0.3s;
				
				&.disabled {
					opacity: 0.7;
				}
			}
			
			> .slider {
				width: 100%;
				transform: translateY(1px);
				
				> div {
					$height: 4px;
					
					background: transparentize(white, 0.5);
					
					&,
					> div {
						height: $height;
						border-radius: $height / 2;
					}
					
					> div {
						background: white;
						transition: width 0.3s;
					}
				}
			}
		}
	}
}
