@import '../../mixins';

@include dashboard-content('cram') {
	padding: 0 30px;
	
	> .cram-navbar {
		$button-height: 40px;
		
		display: flex;
		align-items: center;
		margin-top: 20px;
		
		> .back,
		> .skip,
		> .recap {
			height: $button-height;
			color: white;
			border: 2px solid transparentize(#eee, 0.8);
			border-radius: 8px;
		}
		
		> .back {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $button-height;
			
			> svg {
				transform: scale(1.5);
			}
		}
		
		> .progress {
			margin-right: auto;
		}
		
		> .skip,
		> .recap {
			text-transform: uppercase;
		}
	}
	
	> .sliders {
		max-width: 600px;
		border-collapse: separate;
		border-spacing: 15px 10px;
		
		> tbody > tr {
			> .title {
				text-align: right;
				font-weight: bold;
				color: white;
				transition: opacity 0.3s;
				
				&.disabled {
					opacity: 0.7;
				}
			}
			
			> .slider {
				width: 100%;
				transform: translateY(1px);
				
				> div {
					$height: 4px;
					
					background: transparentize(white, 0.5);
					
					&,
					> div {
						height: $height;
						border-radius: $height / 2;
					}
					
					> div {
						background: white;
						transition: width 0.3s;
					}
				}
			}
		}
	}
}
