@import '../../variables';
@import '../../mixins';

@include dashboard-content('create-deck') {
	display: grid;
	grid:
		'header' auto
		'content' 1fr /
		auto;
	
	> .header,
	> .content {
		padding: 0 30px;
	}
	
	> .header {
		grid-area: header;
		display: flex;
		align-items: center;
		margin: 12px 0;
		
		> a {
			margin: 0 auto 0 8px;
		}
		
		> button {
			height: 42px;
			padding: 0 12px;
			font-weight: 800;
			color: #582efe;
			background: white;
			text-transform: uppercase;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s, opacity 0.3s;
			
			&.disabled {
				opacity: 0.8;
			}
			
			&:not(.disabled):not(.loading) {
				&:hover,
				&:focus {
					color: white;
					background: #051e34;
				}
			}
		}
	}
	
	> .content {
		grid-area: content;
		overflow-y: auto;
		padding-bottom: 30px;
		
		> div {
			@include shadow-lg;
			
			max-width: 900px;
			margin: 0 auto;
			padding: 30px;
			background: white;
			border-radius: 8px;
			
			> .inputs {
				margin-top: 18px;
				
				> :not(:first-child) {
					margin-top: 12px;
				}
			}
			
			> .no-topics-message {
				margin-top: 8px;
				font-weight: bold;
				color: $red-600;
			}
			
			> .topics {
				$cell-dimension: 150px;
				
				display: grid;
				grid-template-columns: repeat(auto-fill, $cell-dimension);
				gap: 12px;
				justify-content: center;
				margin-top: 16px;
				
				> button {
					position: relative;
					overflow: hidden;
					width: $cell-dimension;
					height: $cell-dimension;
					border-radius: 8px;
					background-size: cover;
					background-position: center;
					
					> .check,
					> p {
						position: absolute;
					}
					
					> .check {
						$dimension: 25px;
						
						top: 12px;
						right: 12px;
						width: $dimension;
						height: $dimension;
						background: transparentize(white, 0.5);
						border: 1px solid white;
						border-radius: 50%;
						transition: background 0.3s, border 0.3s;
						
						> svg {
							color: white;
							opacity: 0;
							transform: scale(0.8);
							transition: opacity 0.3s;
						}
					}
					
					&.selected > .check {
						background: #00d388;
						border-color: #00d388;
						
						> svg {
							opacity: 1;
						}
					}
					
					> p {
						right: 8px;
						bottom: 12px;
						left: 8px;
						text-align: center;
						color: white;
					}
				}
			}
		}
	}
}
