@import '../../variables';
@import '../../mixins';
@import '../../functions';

@include dashboard-content('decks') {
	$padding: 20px;
	
	display: grid;
	grid-template-rows: 60px auto;
	
	> .header {
		display: flex;
		align-items: center;
		overflow-x: auto;
		padding: 0 $padding;
		background: lightpink;
		
		> .name {
			margin-right: auto;
		}
		
		> .actions {
			&,
			> button {
				display: flex;
				align-items: center;
			}
			
			> button {
				flex-shrink: 0;
				margin-left: $padding;
				padding: 4px 8px;
				background: lightgray;
				border-radius: 4px;
				
				&.destructive {
					color: red;
				}
				
				> p {
					margin-left: 8px;
					font-weight: bold;
				}
			}
		}
	}
	
	> .sections {
		overflow-y: auto;
		padding: $padding;
		
		> div {
			> .header,
			> .cards > * {
				margin-bottom: calc(#{$padding} * 2 / 3);
			}
			
			> .header {
				display: flex;
				align-items: center;
				
				> .name,
				> .card-count-message {
					font-weight: bold;
				}
				
				> .spacer {
					flex: 1;
					height: 2px;
					margin: 0 $padding;
					background: lightgray;
				}
				
				> .card-count-message {
					margin-right: $padding;
				}
				
				> .expand-toggle {
					margin-right: $padding / 2;
					transform: scale(1.2);
				}
				
				> .triple-dots {
					padding: 0 $padding / 2;
				}
			}
			
			> .cards {
				> .loader {
					margin: 0 auto;
				}
			}
		}
	}
}

@include modal-content('deck-intro') {
	overflow: hidden;
	margin: 30px;
	background: white;
	border-radius: 8px;
	
	@media (min-width: 750px) {
		width: calc(200vw / 3);
	}
	
	@media (min-width: 1250px) {
		width: 50vw;
	}
	
	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
		color: white;
		background: #051e34;
		
		> .title {
			font-size: 26px;
		}
		
		> button {
			margin-right: 8px;
			transform: scale(2);
			transition: opacity 0.3s;
			
			&:hover {
				opacity: 0.5;
			}
		}
	}
	
	> .content {
		display: flex;
		justify-content: space-between;
		margin: 20px;
		
		> .left {
			> a {
				color: $blue-400;
			}
		}
		
		> .right {
			width: 300px;
			transform: rotate(6deg);
			transition: transform 0.3s;
			
			&:hover {
				transform: none;
			}
		}
	}
}
