@import '../../variables';
@import '../../mixins';
@import '../../functions';

@include dashboard-content('deck-page') {
	$margin: 30px;
	
	display: grid;
	grid:
		'back-button' auto
		'box' 1fr /
		auto;
	padding: 0 $margin;
	
	> .back-button {
		grid-area: back-button;
		margin: 12px 0;
	}
	
	> .box {
		@include shadow-lg;
		
		grid-area: box;
		height: max-content;
		background: white;
		border-radius: 8px;
		margin-bottom: $margin;
		
		&.loading {
			display: grid;
			justify-content: center;
			align-content: center;
			height: auto;
		}
		
		> .header {
			display: flex;
			min-height: $deck-cell-height;
			margin: $margin 0 0 $margin;
			
			> img {
				height: $deck-cell-height;
			}
			
			> img {
				width: $deck-cell-height;
				object-fit: cover;
				border-radius: 8px;
				box-shadow:
					0 0 15px -3px rgba(0, 0, 0, 0.1),
					0 0 6px -2px rgba(0, 0, 0, 0.05);
			}
			
			> .content {
				flex-grow: 1;
				margin-left: 20px;
				
				> .top {
					&,
					> .right {
						display: flex;
						align-items: center;
					}
					
					> .left {
						> .name {
							font-size: 30px;
							font-weight: 600;
							color: $dark-gray;
						}
						
						> .subtitle,
						> .creator {
							color: #9b9b9b;
						}
						
						> .subtitle,
						> .creator > p {
							font-size: 24px;
							font-weight: 500;
						}
						
						> .creator {
							display: flex;
							align-items: center;
							margin: 6px 0 16px 8px;
							
							> svg {
								margin-right: 16px;
								transform: scale(2);
							}
						}
					}
					
					> .right {
						margin: 0 $margin 0 auto;
						transform: translateY(-$margin / 2);
						
						> .get,
						> .remove,
						> .open {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 40px;
							padding: 0 30px;
							font-weight: bold;
							text-transform: uppercase;
							border-radius: 8px;
							transition: color 0.3s, background 0.3s;
							
							&:hover,
							&:focus {
								color: white;
							}
						}
						
						> .get {
							color: white;
							background: #4355f9;
							
							&:hover,
							&:focus {
								background: #00d388;
							}
						}
						
						> .remove {
							color: #4355f9;
							border: 1.5px solid #4355f9;
							
							&:hover,
							&:focus {
								background: #4355f9;
							}
						}
						
						> .open {
							color: white;
							background: #00d388;
							
							&:hover,
							&:focus {
								background: #051e34;
							}
						}
						
						> .share {
							height: 40px;
							padding: 0 20px;
							border: 1.5px solid transparentize(#ddd, 0.2);
							border-radius: 5px;
							transition: background 0.3s, border-color 0.3s;
							
							> svg {
								fill: #4355f9;
								transform: scale(1.3) translate(-0.5px, 0.5px);
								transition: fill 0.3s;
							}
							
							&:hover {
								background: #051e34;
								border-color: #051e34;
								
								> svg {
									fill: white;
								}
							}
						}
						
						> :not(:last-child) {
							margin-right: 16px;
						}
					}
				}
				
				> .divider {
					$height: 2px;
					
					height: $height;
					margin-right: $margin;
					background: transparentize(#ddd, 0.5);
					border-radius: $height / 2;
				}
				
				> .stats {
					display: flex;
					align-items: center;
					margin-top: 12px;
					
					> .divider {
						width: 2px;
						height: 25px;
						margin: 0 20px;
						background: transparentize(#ddd, 0.5);
					}
					
					> .rating,
					> .downloads,
					> .current-users {
						display: flex;
						align-items: center;
						
						> p {
							margin-left: 8px;
							font-size: 17px;
							font-weight: 600;
							color: #9b9b9b;
						}
					}
					
					> .downloads,
					> .current-users {
						> svg {
							margin-right: 4px;
							transform: scale(1.7);
						}
					}
					
					> .cards {
						margin-left: -2px;
						font-size: 17px;
						font-weight: 600;
						color: #9b9b9b;
					}
				}
			}
		}
		
		> .footer {
			margin-top: 20px;
			
			> .description {
				max-width: 800px;
				margin: 0 $margin;
				font-size: 16px;
				color: #5c5c5c;
			}
			
			> .topics {
				display: flex;
				overflow-x: auto;
				margin-top: 20px;
				padding: 0 $margin;
				
				> div {
					$dimension: 90px;
					
					position: relative;
					overflow: hidden;
					width: $dimension;
					height: $dimension;
					background-size: cover;
					background-position: center;
					border-radius: 5px;
					
					> p {
						$padding: 8px;
						
						position: absolute;
						right: $padding;
						bottom: $padding;
						left: $padding;
						text-align: center;
						word-wrap: break-word;
						font-size: 12px;
						font-weight: bold;
						color: white;
					}
					
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
		}
		
		> .divider {
			$height: 2px;
			
			height: $height;
			margin: 20px $margin 0 $margin;
			background: transparentize(#ddd, 0.5);
			border-radius: $height / 2;
		}
	}
}
