.dashboard > .content.home {
	padding: 20px 0 20px 20px;
	
	> .decks,
	> .recommended-decks {
		display: flex;
		overflow-x: auto;
		
		> a {
			background: lightgreen;
			
			> img {
				height: 100px;
				margin: 0 auto;
			}
			
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}
