@import '../../mixins';

@include dashboard-content('home') {
	padding-top: 20px;
	
	> .header {
		display: flex;
		align-items: flex-start;
		padding: 0 20px;
		
		> .left {
			margin-right: auto;
		}
		
		> a {
			padding: 10px 16px;
			font-weight: bold;
			color: white;
			background: blue;
			text-transform: uppercase;
		}
	}
	
	> h1 {
		padding: 0 20px;
	}
	
	> .decks,
	> .recommended-decks {
		display: none;//flex;
		overflow-x: auto;
		padding: 0 20px;
		
		> a {
			flex-shrink: 0;
			background: lightgreen;
			
			> img {
				height: 100px;
				margin: 0 auto;
			}
			
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}
