.dashboard {
	$sidebar-width: 200px;
	$tabs-height: 100px;
	
	display: grid;
	grid: auto #{$tabs-height} / #{$sidebar-width} auto;
	grid-template-areas:
		'sidebar content'
		'tabs tabs';
	height: 100vh;
	
	> .content {
		grid-area: content;
		overflow-y: auto;
	}
}
