@import '../../variables';

.dashboard {
	display: grid;
	grid: auto #{$dashboard-tabs-height} / #{$dashboard-sidebar-width} auto;
	grid-template-areas:
		'sidebar content'
		'tabs tabs';
	height: 100vh;
	
	> .content {
		grid-area: content;
		overflow-y: auto;
	}
}
