@import '../../variables';
@import '../../mixins';
@import '../../functions';

@include dashboard-content('market') {
	display: grid;
	grid:
		'header' auto
		'decks' 1fr /
		auto;
	overflow-y: unset;
	
	> .header {
		grid-area: header;
		display: flex;
		align-items: center;
		margin: 16px 30px 0 30px;
		
		> .search {
			width: 100%;
			
			> input {
				padding: raw-repeat(3, 12px) 44px;
				color: white;
				background: transparentize(#eee, 0.8);
				border: none;
				border-radius: 100px;
				
				&::placeholder {
					color: transparentize(#eee, 0.2);
				}
			}
			
			> svg {
				top: 16px;
				left: 16px;
				color: #eee;
			}
		}
		
		> .sort-dropdown {
			margin-left: 16px;
		}
	}
	
	> .decks {
		$top-padding: 4px;
		
		grid-area: decks;
		overflow-y: auto;
		margin-top: 12px;
		padding: $top-padding raw-repeat(3, 30px);
		
		@media (min-width: 1473px) and (max-width: 1540px) {
			padding: $top-padding raw-repeat(3, 4px);
			
			> div > .grid {
				gap: 16px !important;
			}
		}
		
		> div {
			> .grid {
				display: grid;
				grid: none / repeat(auto-fill, $deck-cell-width);
				gap: 30px;
				justify-content: center;
			}
			
			> .loader {
				margin: 30px auto 0 auto;
			}
		}
	}
}
