@import '../../variables';

$search-height: 40px;
$sort-width: 200px;
$padding: 20px;

.dashboard > .content.market {
	display: grid;
	grid: #{$search-height} auto / auto #{$padding + $sort-width};
	grid-template-areas:
		'search search'
		'decks sort';
	padding: $padding $padding 0 $padding;
	
	> .search {
		grid-area: search;
	}
	
	> .decks {
		grid-area: decks;
		overflow-y: auto;
		padding: $padding 0;
		
		> div {
			> :not(:last-child) {
				margin-bottom: $padding;
			}
			
			> a {
				display: flex;
				background: lightgreen;
			}
			
			> .loader {
				margin: 0 auto;
			}
		}
	}
	
	> .sort {
		overflow-y: auto;
		padding: $padding 0 $padding $padding;
		
		> .rows > button {
			display: block;
			
			&.selected {
				font-weight: bold;
			}
			
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
}
