.dashboard > .sidebar {
	grid-area: sidebar;
	overflow-y: auto;
	padding: 10px;
	background: lightblue;
	
	> .decks > a {
		display: flex;
		align-items: center;
		
		> img {
			width: 40px;
			height: 40px;
			object-fit: cover;
		}
		
		> .title {
			margin-right: auto;
			font-weight: bold;
		}
		
		> .badge {
			padding: 4px 8px;
			background: lightgreen;
		}
		
		&.selected {
			background: white;
		}
		
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
