.trigger {
	display: flex;
	align-items: center;
	height: 45px;
	padding: 0 14px;
	color: white;
	border: 1.5px solid transparentize(#eee, 0.8);
	border-radius: 8px;
	
	> svg {
		opacity: 0.7;
		transform: scale(1.1);
		transition: opacity 0.3s;
	}
	
	> p {
		margin-left: 8px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	&:hover,
	&:focus {
		> svg {
			opacity: 1;
		}
	}
}

> .content {
	width: 264px;
	padding: 20px;
	background: white;
	border-radius: 5px;
	
	> button {
		$vertical-padding: 12px;
		
		display: flex;
		align-items: center;
		width: 100%;
		font-weight: 600;
		color: #9b9b9b;
		
		> svg {
			margin-right: 10px;
			transform: scale(1.1);
		}
		
		&.selected {
			font-weight: bold;
			color: #4355f9;
		}
		
		&:not(:first-child) {
			padding-top: $vertical-padding;
		}
		
		&:not(:last-child) {
			padding-bottom: $vertical-padding;
			border-bottom: 1px solid #dcdcdc;
		}
		
		&:hover,
		&:focus {
			font-weight: bold;
		}
	}
}
