.scroll-indicator {
	@apply border-2 border-solid opacity-75;
	
	width: 34px;
	height: 55px;
	border-radius: 25px;
	
	> div {
		@apply mt-2 mx-auto;
		
		width: 3px;
		height: 10px;
		border-radius: 25%;
		animation: scroll-indicator 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
	}
}

@keyframes scroll-indicator {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}
