.text-dark-gray {
	color: #363636;
}

.bg-light-gray {
	background: #f5f6fb;
}

.gradient-background {
	background: linear-gradient(to right, #cb34b5, #44a6bb);
}

.raise-on-hover {
	transition: box-shadow 0.25s, transform 0.25s;
	
	&:hover,
	&:focus {
		transform: translateY(-2px);
	}
}

.shadow-raise-on-hover {
	@apply raise-on-hover;
	
	&:hover,
	&:focus {
		@apply shadow-lg;
	}
}
