html,
body {
	background: #eff3f4;
	font-family: 'Open Sans', serif;
}
.hero-body .container {
	max-width: 700px;
}
.hero-body .title {
	color: hsl(192, 17%, 99%) !important;
}
.hero-body .subtitle {
	color: hsl(192, 17%, 99%) !important;
	padding-top: 2rem;
	line-height: 1.5;
}
.features {
	padding: 5rem 0;
}
.box.cta {
	border-radius: 0;
	border-left: none;
	border-right: none;
}
.card-image > .fa {
	font-size: 8rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #209cee;
}
.card-content .content {
	font-size: 14px;
	margin: 1rem 1rem;
}
.card-content .content h4 {
	font-size: 16px;
	font-weight: 700;
}
.card {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	margin-bottom: 2rem;
}
.intro {
	padding: 5rem 0;
	text-align: center;
}
.sandbox {
	padding: 5rem 0;
}
.tile.notification {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.is-shady {
	animation: flyintoright 0.4s backwards;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
	border-radius: 4px;
	display: inline-block;
	margin: 10px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.is-shady:hover {
	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}
footer li:before {
	content: '\f1b2';
	font-family: 'FontAwesome';
	float: left;
	margin-left: -1.5em;
	color: #147efb;
}
.subtitle.main-text {
	font-weight: 900;
}
.download-ios-app.main-text img {
	margin-top: 20px;
}
svg.card-inline {
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
	color: #209cee;
}
.ios-screenshot-row {
	display: flex;
}
.ios-screenshot-column {
	flex: 50%;
	padding: 5px;
}