@import '../../variables';
@import '../../mixins';
@import '../../trigonometry';

.home.boxes {
	display: none;
	gap: 1rem;
	justify-content: center;
	margin: calc(-100vw * #{tan(6deg)}) 0 20px 0;
	padding-left: 30px;
	padding-right: 30px;
	transition: padding 0.3s;
	
	@media (min-width: 465px) {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 370px));
	}
	
	@media (min-width: 800px) {
		padding-left: 135px;
		padding-right: 135px;
	}
	
	@media (min-width: 970px) {
		grid-template-columns: repeat(3, minmax(0, 370px));
	}
	
	> div {
		@include shadow-raise-on-hover;
		
		padding: 40px 30px;
		color: $dark-gray;
		background: white;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		z-index: 10;
		
		> img {
			height: 64px;
		}
		
		> h1 {
			font-size: 24px;
			font-weight: 700;
			margin-top: 1rem;
		}
		
		> p {
			display: none;
			margin-top: 0.5rem;
			opacity: 0.8;
			
			@media (min-width: 465px) {
				display: block;
			}
		}
	}
}
