@import '../../mixins';

@include home-content('classroom') {
	@include stack;
	
	> .background {
		background: #e6f0fa;
		transform: skewY(6deg);
	}
	
	> .content {
		display: flex;
		z-index: 0;
		
		> .text {
			> .title {
				color: #572efe;
			}
			
			> .list {
				padding: 0;
				list-style: none;
				
				> li {
					display: flex;
					
					> .bullet {
						position: relative;
						justify-items: center;
						align-items: center;
						
						> p {
							position: absolute;
							top: 5px;
							left: 11px;
							font-weight: bold;
							color: #4c4372;
						}
					}
				}
			}
		}
	}
}
