@import '../../variables';
@import '../../mixins';
@import '../../trigonometry';

@mixin diagram($screen-width, $width) {
	@media (min-width: $screen-width) {
		width: $width;
	}
}

@mixin title($screen-width, $font-size) {
	@media (min-width: $screen-width) {
		font-size: $font-size;
		line-height: $font-size + 6px;
	}
}

@mixin list-item($screen-width, $font-size) {
	@media (min-width: $screen-width) {
		font-size: $font-size;
	}
}

@include home-content('classroom') {
	$degrees: 6deg;
	
	@include stack;
	
	margin-top: 120px;
	
	> .background {
		background: #e6f0fa;
		transform: skewY($degrees);
		transform-origin: top left;
	}
	
	> .content {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 0;
		
		@media (min-width: 675px) {
			flex-direction: row;
		}
		
		&::before {
			content: '';
			position: absolute;
			height: tan($degrees) * 100vw;
			top: 0;
			right: 0;
			left: 0;
			background: $light-gray;
			clip-path: polygon(0 0, 100% 0, 100% 100%);
		}
		
		> .diagram {
			max-width: calc(100vw - 60px);
			width: 275px;
			height: auto;
			transition: width 0.3s;
			
			@include diagram($screen-width: 700px, $width: 300px);
			@include diagram($screen-width: 850px, $width: 350px);
			@include diagram($screen-width: 970px, $width: 400px);
			@include diagram($screen-width: 1120px, $width: 450px);
			@include diagram($screen-width: 1225px, $width: 500px);
		}
		
		> .text {
			margin-top: 20px;
			transition:
				margin-top 0.3s,
				margin-left 0.3s;
			
			@media (min-width: 675px) {
				margin-top: 0;
				margin-left: 40px;
			}
			
			@media (min-width: 800px) {
				margin-left: 80px;
			}
			
			@media (min-width: 1100px) {
				margin-left: 120px;
			}
			
			> .title {
				font-size: 20px;
				line-height: 26px;
				color: #572efe;
				transition: font-size 0.3s, line-height 0.3s;
				
				@include title($screen-width: 300px, $font-size: 22px);
				@include title($screen-width: 370px, $font-size: 26px);
				@include title($screen-width: 800px, $font-size: 30px);
				@include title($screen-width: 920px, $font-size: 34px);
				@include title($screen-width: 1020px, $font-size: 38px);
				@include title($screen-width: 1200px, $font-size: 42px);
				@include title($screen-width: 1250px, $font-size: 46px);
				@include title($screen-width: 1300px, $font-size: 50px);
				@include title($screen-width: 1370px, $font-size: 54px);
				@include title($screen-width: 1430px, $font-size: 58px);
			}
			
			> .list {
				margin-top: 30px;
				padding: 0;
				list-style: none;
				transition: margin-top 0.3s;
				
				@media (min-width: 800px) {
					margin-top: 40px;
				}
				
				@media (min-width: 1020px) {
					margin-top: 60px;
				}
				
				> li {
					display: flex;
					
					> .bullet {
						position: relative;
						margin: 0 15px 0 0;
						transform: scale(0.9);
						transition: margin 0.3s, transform 0.3s;
						
						@media (min-width: 800px) {
							margin-right: 20px;
							transform: none;
							
							&.lines-2 {
								margin-top: 4px;
							}
						}
						
						@media (min-width: 920px) {
							margin-right: 30px;
							transform: scale(1.1);
							
							&.lines-2 {
								margin-top: 10px;
							}
						}
						
						> p {
							position: absolute;
							top: 5px;
							left: 11px;
							font-weight: bold;
							color: #4c4372;
						}
					}
					
					> p {
						font-size: 10px;
						font-weight: bold;
						color: $dark-gray;
						transition: margin-bottom 0.3s, font-size 0.3s;
						
						@include list-item($screen-width: 300px, $font-size: 12px);
						@include list-item($screen-width: 370px, $font-size: 14px);
						@include list-item($screen-width: 800px, $font-size: 16px);
						@include list-item($screen-width: 920px, $font-size: 18px);
						@include list-item($screen-width: 1020px, $font-size: 20px);
						@include list-item($screen-width: 1200px, $font-size: 22px);
						@include list-item($screen-width: 1250px, $font-size: 24px);
					}
					
					&:not(:last-child) {
						margin-bottom: 25px;
						
						@media (min-width: 800px) {
							margin-bottom: 35px;
						}
						
						@media (min-width: 1020px) {
							margin-bottom: 40px;
						}
						
						@media (min-width: 1250px) {
							margin-bottom: 50px;
						}
					}
				}
			}
			
			> .get-started {
				$height: 50px;
				$arrow-scale: scale(-1.2, 1.2);
				
				display: flex;
				align-items: center;
				height: $height;
				margin-top: 30px;
				margin-bottom: calc(30px + #{tan($degrees) * 50vw});
				padding: 0 20px;
				color: white;
				background: #5a2aff;
				border-radius: $height / 2;
				transition:
					margin-top 0.3s,
					margin-bottom 0.3s,
					border-radius 0.3s;
				
				@media (min-width: 675px) {
					margin-bottom: 0;
				}
				
				@media (min-width: 800px) {
					margin-top: 40px;
				}
				
				@media (min-width: 1020px) {
					margin-top: 60px;
				}
				
				> p {
					margin-right: 15px;
					font-size: 20px;
					font-weight: 900;
				}
				
				> svg {
					transform: $arrow-scale;
				}
				
				&:hover {
					border-radius: 8px;
					
					> svg {
						animation: spin-right-arrow 0.3s ease-out;
					}
				}
				
				@keyframes spin-right-arrow {
					to {
						transform: $arrow-scale rotate(-1turn);
					}
				}
			}
		}
	}
}
