@import '../../mixins';
@import '../../trigonometry';

@mixin auth-button($scale) {
	margin: 0 ($scale * 30px);
	transform: scale($scale);
}

@include home-content('footer') {
	$degrees: 6deg;
	
	@include stack;
	
	> .background {
		background: #572efe;
		transform: skewY($degrees);
	}
	
	> .content {
		z-index: 0;
		
		> .top {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 80px 0 60px;
			transition: padding 0.3s;
			
			@media (min-width: 660px) {
				flex-direction: row;
				padding: 120px 0 100px;
			}
			
			> .text {
				margin-right: 0;
				margin-bottom: 40px;
				text-align: center;
				font-size: 22px;
				font-weight: 900;
				line-height: 36px;
				color: white;
				transition:
					margin 0.3s,
					font-size 0.3s,
					line-height 0.3s;
				
				@media (min-width: 330px) {
					font-size: 26px;
					line-height: 40px;
				}
				
				@media (min-width: 370px) {
					font-size: 32px;
					line-height: 46px;
				}
				
				@media (min-width: 660px) {
					margin-right: 60px;
					margin-bottom: 0;
					text-align: left;
				}
				
				@media (min-width: 730px) {
					margin-right: 80px;
					font-size: 34px;
					line-height: 48px;
				}
				
				@media (min-width: 780px) {
					margin-right: 100px;
				}
				
				@media (min-width: 890px) {
					margin-right: 120px;
					font-size: 38px;
					line-height: 52px;
				}
				
				@media (min-width: 970px) {
					margin-right: 200px;
				}
				
				@media (min-width: 1100px) {
					margin-right: 250px;
				}
			}
			
			> .auth-button {
				@include auth-button(1.1);
				
				@media (min-width: 310px) {
					@include auth-button(1.3);
				}
				
				@media (min-width: 660px) {
					@include auth-button(1.2);
				}
				
				@media (min-width: 680px) {
					@include auth-button(1.3);
				}
				
				@media (min-width: 780px) {
					@include auth-button(1.4);
				}
				
				@media (min-width: 890px) {
					@include auth-button(1.5);
				}
			}
		}
		
		> .bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 60px 30px;
			background: black;
			margin-bottom: tan($degrees) * -50vw;
			
			> .logo {
				@include raise-on-hover;
				
				> picture > img {
					max-height: 50px;
				}
			}
			
			> .socials {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 30px;
				
				@media (min-width: 370px) {
					flex-direction: row;
					
					> a:not(:last-child) {
						margin-bottom: 0 !important;
					}
					
					> .divider {
						display: block !important;
					}
				}
				
				> a,
				> .divider {
					flex-shrink: 0;
				}
				
				> a {
					font-weight: bold;
					color: white;
					transition: opacity 0.3s;
					opacity: 0.8;
					
					&:hover {
						opacity: 0.5;
					}
					
					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}
				
				> .divider {
					display: none;
					align-self: stretch;
					width: 2px;
					margin: 2px 12px;
					background: white;
					opacity: 0.3;
				}
			}
			
			> .download-app {
				margin-top: 45px;
				transform: scale(1.5);
				transition: transform 0.3s;
				
				&:hover {
					transform: scale(1.7);
				}
			}
			
			> .copyright {
				margin-top: 40px;
				text-align: center;
				color: white;
				opacity: 0.5;
			}
		}
	}
}
