@import '../../mixins';
@import '../../trigonometry';

@mixin button($scale, $important) {
	$flag: if($important, !important, null);
	
	margin: 0 ($scale * 30px) $flag;
	transform: scale($scale) $flag;
	
	&:hover {
		transform: scale($scale + 0.2) $flag;
	}
}

@include home-content('footer') {
	$degrees: 6deg;
	
	@include stack;
	
	> .background {
		background: #572efe;
		transform: skewY($degrees);
	}
	
	> .content {
		z-index: 0;
		
		@media (min-width: 370px) {
			> .top > .text {
				margin-bottom: 40px !important;
				font-size: 26px !important;
				line-height: 40px !important;
			}
			
			> .bottom > .socials {
				flex-direction: row !important;
				
				> a:not(:last-child) {
					margin-bottom: 0 !important;
				}
				
				> .divider {
					display: block !important;
				}
			}
		}
		
		> .top {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 80px 0 60px;
			transition: padding 0.3s;
			
			@media (min-width: 600px) {
				flex-direction: row;
				padding: 120px 0 100px;
				
				> .text {
					margin-right: 15px !important;
					margin-bottom: 0 !important;
					text-align: left !important;
				}
			}
			
			@media (min-width: 750px) {
				> .text {
					margin-right: 30px !important;
					font-size: 32px !important;
					line-height: 46px !important;
				}
				
				> .button {
					@include button($scale: 1.7, $important: true);
				}
			}
			
			@media (min-width: 890px) {
				> .text {
					margin-right: 60px !important;
					font-size: 38px !important;
					line-height: 52px !important;
				}
				
				> .button {
					@include button($scale: 2, $important: true);
				}
			}
			
			> .text {
				margin-right: 0;
				margin-bottom: 30px;
				text-align: center;
				font-size: 18px;
				font-weight: 900;
				line-height: 32px;
				color: white;
				transition:
					margin 0.3s,
					font-size 0.3s,
					line-height 0.3s;
				
				@media (min-width: 330px) {
					font-size: 22px;
					line-height: 36px;
				}
				
				@media (min-width: 930px) {
					margin-right: 100px !important;
				}
				
				@media (min-width: 1050px) {
					margin-right: 200px !important;
				}
			}
			
			> .button {
				@include button($scale: 1.5, $important: false);
				
				transition: transform 0.3s;
			}
		}
		
		> .bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 60px 30px;
			background: black;
			margin-bottom: tan($degrees) * -50vw;
			
			> .logo {
				@include raise-on-hover;
				
				> img {
					max-height: 50px;
				}
			}
			
			> .socials {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 30px;
				
				> a,
				> .divider {
					flex-shrink: 0;
				}
				
				> a {
					font-weight: bold;
					color: white;
					transition: opacity 0.3s;
					opacity: 0.8;
					
					&:hover {
						opacity: 0.5;
					}
					
					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}
				
				> .divider {
					display: none;
					align-self: stretch;
					width: 2px;
					margin: 2px 12px;
					background: white;
					opacity: 0.3;
				}
			}
			
			> .copyright {
				margin-top: 30px;
				text-align: center;
				color: white;
				opacity: 0.5;
			}
		}
	}
}
