@import '../../variables';
@import '../../mixins';

.home.footer {
	color: $dark-gray;
	background: $medium-gray;
	
	> .top {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
		
		@media (min-width: 640px) {
			padding-left: 30px;
			padding-right: 30px;
		}
		
		> h1 {
			display: none;
			max-width: 500px;
			margin-right: auto;
			font-size: 28px;
			font-weight: 800;
			line-height: 42px;
			
			@media (min-width: 640px) {
				display: block;
			}
			
			@media (min-width: 750px) {
				font-size: 38px;
				line-height: 52px;
			}
			
			@media (min-width: 1070px) {
				margin: 0;
			}
		}
		
		> .app-store-download-button {
			margin-left: auto;
			transform: scale(1);
			transition: transform 0.3s;
			
			&:hover,
			&:focus {
				transform: scale(1.25);
			}
			
			@media (min-width: 305px) {
				margin: 0 10px;
				transform: scale(1.5);
				
				&:hover,
				&:focus {
					transform: scale(1.75);
				}
			}
			
			@media (min-width: 350px) {
				margin: 0 60px;
				transform: scale(2);
				
				&:hover,
				&:focus {
					transform: scale(2.25);
				}
			}
			
			@media (min-width: 1070px) {
				margin-left: 100px;
			}
		}
	}
	
	> hr {
		background: black;
		opacity: 0.06;
	}
	
	> .bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 30px;
		
		> a > .logo {
			@include raise-on-hover;
			
			max-height: 60px;
			margin-bottom: 20px;
		}
		
		> p {
			opacity: 0.5;
		}
	}
}
