.home.header {
	padding: 30px 30px 0 30px;
	transition: padding 0.3s;
	
	@media (min-width: 800px) {
		padding-top: 73px;
		padding-left: 135px;
		padding-right: 135px;
	}
	
	> .left {
		transition: padding 0.3s;
		
		@media (min-width: 1500px) {
			@apply pb-10;
		}
		
		> h1,
		> h3 {
			transition: font-size 0.3s, line-height 0.3s;
		}
		
		> h1 {
			font-size: 32px;
			font-weight: 800;
			line-height: 38px;
			
			@media (min-width: 500px) {
				font-size: 48px;
				line-height: 54px;
			}
			
			@media (min-width: 800px) {
				font-size: 58px;
				line-height: 64px;
			}
			
			@media (min-width: 970px) {
				font-size: 38px;
				line-height: 44px;
			}
			
			@media (min-width: 1070px) {
				font-size: 48px;
				line-height: 54px;
			}
			
			@media (min-width: 1170px) {
				font-size: 58px;
				line-height: 64px;
			}
		}
		
		> h3 {
			margin-top: 12px;
			font-size: 20px;
			font-weight: 700;
			line-height: 26px;
			
			@media (min-width: 500px) {
				margin-top: 12px;
				font-size: 28px;
				line-height: 34px;
			}
			
			@media (min-width: 970px) {
				margin-top: 12px;
				font-size: 22px;
				line-height: 28px;
			}
			
			@media (min-width: 1070px) {
				margin-top: 24px;
				font-size: 32px;
				line-height: 38px;
			}
		}
	}
	
	> .screenshot {
		width: 342px;
		height: 683px;
		transform: rotate(6deg);
		transition: margin-right 0.3s, transform 0.3s;
		
		@media (min-width: 970px) {
			@apply block;
		}
		
		@media (min-width: 1500px) {
			margin-right: 244px;
		}
		
		&:hover,
		&:focus {
			transform: rotate(0);
		}
	}
}
