.home.integrations {
	grid-template-columns: 1fr 1fr;
	padding: 30px 30px 60px 30px;
	transition: padding 0.3s;
	
	@media (min-width: 800px) {
		padding-left: 320px;
		padding-right: 320px;
	}
	
	> .left {
		> a > .logo {
			max-height: 60px;
		}
		
		> h1 {
			margin: 20px 0;
			font-size: 38px;
			font-weight: 800;
			line-height: 48px;
			color: #582efe;
		}
		
		> .items > div {
			> img {
				height: 16px;
				margin-top: 6px;
			}
			
			> p {
				margin-left: 20px;
				font-size: 22px;
				font-weight: 600;
				line-height: 28px;
				opacity: 0.8;
			}
			
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	
	> .right {
		grid-template-columns: repeat(3, minmax(0, 160px));
		
		> img {
			width: 160px;
			min-width: 160px;
			padding: 10px;
			aspect-ratio: 1;
			border-radius: 8px;
		}
	}
}
