.preview-claim-xp-button {
	$height: 44px;
	
	padding: 0 14px;
	line-height: $height;
	font-size: larger;
	font-weight: 900;
	color: white;
	background: #051e34;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;
	
	&:hover,
	&:focus {
		color: #051e34;
		background: white;
	}
}
