@import '../../mixins';
@import '../../trigonometry';

$margin: 30px;
$card-offset: 20px;

@mixin background-card($multiplier) {
	$margin: $card-offset * $multiplier;
	
	left: $margin;
	right: $margin;
	z-index: -$multiplier;
	transform: translateY($margin);
}

@include home-content('preview') {
	$degrees: 6deg;
	
	@include stack;
	
	> .background {
		@include top-gradient($degrees, $is-right: true);
	}
	
	> .content {
		$max-width: 800px + $margin * 2;
		$vertical-margin: 60px;
		
		justify-self: center;
		max-width: $max-width;
		width: 100%;
		margin: $vertical-margin 0 calc(#{$vertical-margin} + #{tan($degrees) * 100vw});
		padding: 0 $margin;
		z-index: 0;
		
		> .preview-navbar {
			display: flex;
			flex-direction: column-reverse;
			
			@media (min-width: 510px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			
			> .location {
				$height: 44px;
				
				display: flex;
				align-items: flex-end;
				margin-top: 30px;
				font-weight: 900;
				color: white;
				
				@media (min-width: 510px) {
					margin-top: 0;
				}
				
				> .count {
					margin-right: 12px;
					line-height: $height;
					font-size: $height;
				}
				
				> .text {
					font-size: $height / 2;
					opacity: 0.8;
				}
			}
		}
		
		> .card-container {
			margin-top: 40px;
			
			> .location {
				display: flex;
				align-items: center;
				max-width: calc(100vw - #{$margin * 2});
				
				> .deck,
				> .section,
				> .flag {
					font-size: 16px;
					font-weight: 900;
					color: white;
					
					@media (min-width: 445px) {
						font-size: 18px;
					}
				}
				
				> .deck {
					@include overflow-ellipsis;
				}
				
				> .divider,
				> .section {
					flex-shrink: 0;
				}
				
				> .divider {
					$width: 3px;
					
					align-self: stretch;
					width: $width;
					margin: 2px 12px;
					background: transparentize(white, 0.5);
					border-radius: $width / 2;
					transform: translateY(1px);
				}
				
				> .flag {
					display: none;
					margin-left: auto;
					padding-left: 12px;
					text-transform: lowercase;
					opacity: 0.6;
					
					@media (min-width: 405px) {
						display: block;
					}
				}
			}
			
			> .cards {
				position: relative;
				height: 350px;
				margin: 8px 0 ($card-offset * 2);
				
				@media (min-width: 320px) { height: 400px; }
				@media (min-width: 350px) { height: 450px; }
				@media (min-width: 400px) { height: 450px; }
				@media (min-width: 460px) { height: 500px; }
				@media (min-width: 510px) { height: 560px; }
				
				> .card {
					$content-padding: 20px;
					
					position: absolute;
					top: 0;
					bottom: 0;
					background: white;
					border-radius: 8px;
					box-shadow: 0 4px 8px transparentize(black, 0.9);
					transition: opacity 0.3s, transform 0.3s;
					
					&.foreground {
						left: 0;
						right: 0;
						
						> .container {
							$full-katex-width: calc(#{unquote(
								'100vw - var(--sidebar-width) - #{$margin * 2 + $content-padding * 2}'
							)});
							
							position: relative;
							
							@include card-side-katex-width(
								css-min($max-width - $content-padding * 2, $full-katex-width)
							);
							
							&,
							> .content {
								width: 100%;
								height: 100%;
							}
							
							> .content {
								overflow-y: auto;
								padding: $content-padding;
							}
						}
					}
					
					@for $layer from 1 through 2 {
						&.background-#{$layer} {
							@include background-card($layer);
						}
					}
					
					&.hidden {
						opacity: 0;
						transform: none;
					}
				}
			}
		}
	}
}
