@import '../../variables';
@import '../../mixins';
@import '../../trigonometry';

$margin: 30px;
$card-offset: 20px;

$flip-animation-duration: 300ms;
$shift-animation-duration: 300ms;

$rating-colors: (
	0: #00d388,
	1: #f5a623,
	2: #f55d23
);

@mixin background-card($multiplier) {
	$margin: $card-offset * $multiplier;
	
	left: $margin;
	right: $margin;
	z-index: -$multiplier;
	transform: translateY($margin);
}

@include home-content('preview') {
	$degrees: 6deg;
	
	@include stack;
	
	> .background {
		@include top-gradient($degrees, $is-right: true);
	}
	
	> .content {
		$max-width: 800px + $margin * 2;
		$vertical-margin: 60px;
		
		justify-self: center;
		max-width: $max-width;
		width: 100%;
		margin: $vertical-margin 0 calc(#{$vertical-margin} + #{tan($degrees) * 100vw});
		padding: 0 $margin;
		z-index: 0;
		
		> .preview-navbar {
			display: flex;
			flex-direction: column-reverse;
			
			@media (min-width: 510px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			
			> .location {
				$height: 44px;
				
				display: flex;
				align-items: flex-end;
				margin-top: 30px;
				font-weight: 900;
				color: white;
				
				@media (min-width: 510px) {
					margin-top: 0;
				}
				
				> .count {
					margin-right: 12px;
					line-height: $height;
					font-size: $height;
				}
				
				> .text {
					font-size: $height / 2;
					opacity: 0.8;
				}
			}
		}
		
		> .card-container {
			margin-top: 40px;
			padding-bottom: $card-offset * 2;
			
			> .location {
				display: flex;
				align-items: center;
				max-width: calc(100vw - #{$margin * 2});
				transition: height 0.3s, opacity 0.3s;
				
				&.hidden {
					height: 0;
					opacity: 0;
				}
				
				> .deck,
				> .section,
				> .flag {
					font-size: 16px;
					font-weight: 900;
					color: white;
					
					@media (min-width: 445px) {
						font-size: 18px;
					}
				}
				
				> .deck {
					@include overflow-ellipsis;
				}
				
				> .divider,
				> .section {
					flex-shrink: 0;
				}
				
				> .divider {
					$width: 3px;
					
					align-self: stretch;
					width: $width;
					margin: 2px 12px;
					background: transparentize(white, 0.5);
					border-radius: $width / 2;
					transform: translateY(1px);
				}
				
				> .flag {
					display: none;
					margin-left: auto;
					padding-left: 12px;
					text-transform: lowercase;
					opacity: 0.6;
					
					@media (min-width: 405px) {
						display: block;
					}
				}
			}
			
			> .cards {
				position: relative;
				min-height: 40px;
				max-height: calc(100vh - #{$card-offset * 2 + 250px});
				height: 350px;
				margin-top: 8px;
				transition: height 0.3s;
				
				@media (min-width: 320px) { height: 400px; }
				@media (min-width: 350px) { height: 450px; }
				@media (min-width: 400px) { height: 450px; }
				@media (min-width: 460px) { height: 500px; }
				@media (min-width: 510px) { height: 560px; }
				
				> .card {
					$content-padding: 20px;
					
					position: absolute;
					top: 0;
					bottom: 0;
					background: white;
					border-radius: 8px;
					box-shadow: 0 4px 8px transparentize(black, 0.9);
					transition: opacity 0.3s, transform 0.3s;
					
					&.foreground,
					&.next {
						left: 0;
						right: 0;
						
						> .container {
							$full-katex-width: calc(#{unquote(
								'100vw - var(--sidebar-width) - #{$margin * 2 + $content-padding * 2}'
							)});
							
							position: relative;
							
							@include card-side-katex-width(
								css-min($max-width - $content-padding * 2, $full-katex-width)
							);
							
							&,
							> .content {
								width: 100%;
								height: 100%;
							}
							
							> .content {
								overflow-y: auto;
								padding: $content-padding;
							}
						}
					}
					
					&.foreground {
						cursor: pointer;
						z-index: 1;
						
						&.waiting-for-flip:hover {
							transform: scale(1.02);
						}
						
						&.shift {
							animation: preview-card-shift $shift-animation-duration ease-in-out;
							
							@keyframes preview-card-shift {
								to {
									transform: translateX(100vw);
								}
							}
						}
						
						&.flip > .container > .content {
							animation: preview-card-flip $flip-animation-duration ease-in-out;
							
							@keyframes preview-card-flip {
								50% {
									opacity: 0;
									transform: scale(0.9);
								}
							}
						}
						
						> .container > .flip {
							$inset: 25px;
							
							display: flex;
							position: absolute;
							align-items: flex-end;
							right: $inset;
							bottom: $inset;
							
							> p {
								margin-right: 24px;
								text-transform: uppercase;
								font-weight: 900;
								color: $dark-gray;
								opacity: 0.5;
								transform: translateY(10px);
							}
							
							> svg {
								$dimension: 13px;
								
								width: $dimension;
								height: $dimension;
								padding: 2px;
								color: #06ba7a;
								background: transparentize($light-gray, 0.2);
								border-radius: 50%;
								transition: transform 0.3s ease-out;
							}
						}
					}
					
					&.next {
						box-shadow: none;
					}
					
					@for $layer from 1 through 2 {
						&.background-#{$layer} {
							@include background-card($layer);
						}
					}
					
					&.hidden {
						opacity: 0;
						transform: none;
					}
				}
				
				> .completion {
					position: absolute;
					top: 50%;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translateY(-50%);
					transition: opacity 0.3s;
					
					&.hidden {
						opacity: 0;
					}
				}
			}
		}
		
		> .footer {
			$vertical-offset: 100px;
			
			@include stack;
			
			justify-items: center;
			align-items: center;
			margin-top: 40px;
			transition: opacity 0.3s;
			
			&.hidden {
				pointer-events: none;
				opacity: 0;
			}
			
			&.waiting-for-rating {
				> .message {
					opacity: 0;
					transform: translateY($vertical-offset);
				}
				
				> .buttons {
					pointer-events: all;
					opacity: 1;
					transform: none;
				}
			}
			
			> .message,
			> .buttons {
				transition: opacity 0.3s, transform 0.3s;
			}
			
			> .message {
				text-align: center;
				font-size: 20px;
				font-weight: 900;
				color: white;
			}
			
			> .buttons {
				display: flex;
				opacity: 0;
				pointer-events: none;
				transform: translateY($vertical-offset);
				
				> button {
					padding: 0 14px;
					background: white;
					border-radius: 8px;
					box-shadow: 0 4px 8px transparentize(black, 0.9);
					transition: width 0.3s, padding 0.3s, border-color 0.3s, box-shadow 0.3s;
					
					@media (min-width: 400px) {
						width: 100px;
						padding: 0;
					}
					
					@media (min-width: 500px) {
						width: 130px;
					}
					
					@media (min-width: 600px) {
						width: 165px;
					}
					
					> .text {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 52px;
						
						> .emoji {
							display: none;
							margin-right: 8px;
							font-size: 20px;
							transition: margin-right 0.3s, font-size 0.3s;
							
							@media (min-width: 500px) {
								display: block;
							}
							
							@media (min-width: 600px) {
								margin-right: 12px;
								font-size: 24px;
							}
						}
						
						> .title {
							text-transform: uppercase;
							font-size: 9px;
							font-weight: 900;
							color: $dark-gray;
							transition: font-size 0.3s;
							
							@media (min-width: 340px) {
								font-size: 12px;
							}
							
							@media (min-width: 600px) {
								font-size: 16px;
							}
						}
					}
					
					> .prediction {
						min-width: 65px;
						width: max-content;
						height: 25px;
						margin: 0 auto 12px;
						padding: 2px 10px;
						text-align: center;
						font-size: 14px;
						font-weight: 900;
						color: $dark-gray;
						border-radius: 8px;
						
						@for $i from 0 through 2 {
							&.rating-#{$i} {
								background: transparentize(
									map-get($rating-colors, $i),
									0.84
								);
							}
						}
						
						&.loading {
							display: flex;
							justify-content: center;
							align-items: center;
							
							> .loader {
								margin-bottom: 1px;
							}
						}
					}
					
					&:hover {
						border-color: white;
						box-shadow: none;
					}
					
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
		}
	}
}

@include modal-content('preview-progress') {
	$margin: 20px;
	
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	max-width: 650px;
	width: calc(100vw - #{$margin * 2});
	max-height: calc(100vh - #{$margin * 2});
	overflow-y: auto;
	margin: $margin;
	padding: 50px;
	background: #051e34;
	border-radius: 15px;
	
	> .badges {
		$inset: 20px;
		
		display: flex;
		position: absolute;
		top: $inset;
		left: $inset;
		
		> .badge {
			padding: 2px 8px;
			font-size: 18px;
			font-weight: 900;
			border-radius: 5px;
			
			&.xp {
				color: $dark-gray;
				background: #ffcb6b;
			}
			
			&.streak {
				color: white;
				background: #06ba7a;
			}
			
			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	
	> .emoji {
		margin-bottom: 20px;
		font-size: 80px;
	}
	
	> .message {
		text-align: center;
		font-weight: 900;
		font-size: 40px;
		color: white;
	}
	
	> .next {
		min-width: 65px;
		width: max-content;
		margin: 20px 0 -20px;
		padding: 2px 10px;
		text-align: center;
		font-size: 18px;
		font-weight: 900;
		color: white;
		border-radius: 8px;
		
		@for $i from 0 through 2 {
			&.rating-#{$i} {
				background: transparentize(
					map-get($rating-colors, $i),
					0.15
				);
			}
		}
	}
}
