@import '../../mixins';
@import '../../trigonometry';

$row-min-width: 1200px;

$animation-duration: 400ms;
$transform-length: 100px;

@mixin screenshot-height($vertical-margin) {
	max-height: calc(100vh - #{$vertical-margin * 2});
}

@include home-content('screenshots') {
	$degrees: 6deg;
	$offset: tan($degrees) * 100vw;
	
	@include stack;
	
	position: relative;
	margin-bottom: -$offset;
	z-index: 1;
	
	@each $direction in (left, right) {
		&.#{$direction} > .content {
			> .title,
			> .screenshot > .foreground > img,
			> .info > .title {
				animation: screenshots-#{$direction} $animation-duration ease-in-out;
			}
		}
	}
	
	> .background {
		@include top-gradient($degrees, $is-right: true);
		
		height: calc(100vh + #{tan($degrees)} * 100vw);
	}
	
	> .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		z-index: 0;
		
		@media (min-width: $row-min-width) {
			flex-direction: row;
		}
		
		> .title {
			flex-shrink: 0;
			text-align: center;
			font-size: 30px;
			line-height: 36px;
			color: white;
			transition: font-size 0.3s, line-height 0.3s;
			
			@media (min-width: $row-min-width) {
				display: none;
			}
			
			@media (min-height: 500px) {
				font-size: 34px;
				line-height: 40px;
			}
			
			@media (min-height: 750px) {
				font-size: 38px;
				line-height: 44px;
			}
		}
		
		> .screenshot {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			margin: 40px 5px;
			transition: height 0.3s, margin 0.3s;
			
			@media (min-width: 360px) { margin: 80px 5px; }
			@media (min-width: 500px) { margin: 80px 10px; }
			@media (min-width: 600px) { margin: 80px 20px; }
			@media (min-width: 750px) { margin: 80px 30px; }
			@media (min-width: 800px) { margin: 60px 40px; }
			@media (min-width: 900px) { margin: 40px; }
			@media (min-width: 950px) { margin: 40px 60px; }
			@media (min-width: $row-min-width) { margin: 0 40px; }
			@media (min-width: 1350px) { margin: 0 60px; }
			
			> .background {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
				
				@media (min-width: 100px) { max-height: 45vh; }
				@media (min-width: 400px) { max-height: 50vh; }
				@media (min-width: 500px) { max-height: 55vh; }
				@media (min-width: 650px) { max-height: 60vh; }
				@media (min-width: 720px) { max-height: 65vh; }
				@media (min-width: $row-min-width) { max-height: none; }
			}
			
			> .foreground > img {
				max-height: 20vh;
				
				@media (min-height: 400px) { max-height: 30vh; }
				@media (min-height: 500px) { max-height: 40vh; }
				@media (min-height: 600px) { max-height: 45vh; }
				@media (min-height: 650px) { max-height: 50vh; }
				@media (min-height: 900px) { max-height: 60vh; }
				
				@media (min-width: $row-min-width) {
					@include screenshot-height(60px);
				}
			}
		}
		
		> .info {
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			@media (min-width: $row-min-width) {
				align-items: flex-start;
				width: 360px;
			}
			
			@media (min-width: 1220px) { width: 400px; }
			@media (min-width: 1250px) { width: 435px; }
			@media (min-width: 1320px) { width: 475px; }
			@media (min-width: 1370px) { width: 510px; }
			@media (min-width: 1470px) { width: 550px; }
			
			> .title {
				display: none;
				height: 150px;
				margin-bottom: 40px;
				font-size: 38px;
				line-height: 50px;
				color: white;
				transition: font-size 0.3s, line-height 0.3s;
				
				@media (min-width: $row-min-width) {
					display: block;
				}
				
				@media (min-width: 1220px) {
					height: 165px;
					font-size: 42px;
					line-height: 54px;
				}
				
				@media (min-width: 1250px) {
					height: 175px;
					font-size: 46px;
					line-height: 58px;
				}
				
				@media (min-width: 1320px) {
					height: 190px;
					font-size: 50px;
					line-height: 62px;
				}
				
				@media (min-width: 1370px) {
					height: 200px;
					font-size: 54px;
					line-height: 66px;
				}
				
				@media (min-width: 1470px) {
					font-size: 58px;
					line-height: 70px;
				}
			}
			
			> .navigation {
				display: flex;
				
				> button {
					$height: 50px;
					$scale-factor: 1.3;
					
					width: 80px;
					height: $height;
					background: transparentize(white, 0.8);
					border-radius: $height / 2;
					transition: background 0.3s;
					
					@media (min-width: $row-min-width) {
						background: transparentize(white, 0.9);
					}
					
					> svg {
						margin: 0 auto;
						color: white;
					}
					
					&:first-child {
						margin-right: 12px;
						
						> svg {
							transform: scale($scale-factor);
						}
					}
					
					&:last-child > svg {
						transform: scale(-$scale-factor, $scale-factor);
					}
					
					&:hover {
						background: transparentize(white, 0.7);
						
						@media (min-width: $row-min-width) {
							background: transparentize(white, 0.8);
						}
					}
				}
			}
			
			> .gallery {
				margin-top: 30px;
				
				> button {
					$dimension: 20px;
					
					width: $dimension;
					height: $dimension;
					background: transparentize(white, 0.7);
					border-radius: 50%;
					transition: background 0.3s;
					
					@media (min-width: $row-min-width) {
						background: transparentize(white, 0.8);
					}
					
					&.selected {
						background: white;
						
						@media (min-width: $row-min-width) {
							background: transparentize(white, 0.2);
						}
					}
					
					&:not(.selected) {
						&:hover,
						&:focus {
							background: transparentize(white, 0.5);
							
							@media (min-width: $row-min-width) {
								background: transparentize(white, 0.6);
							}
						}
					}
					
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
		}
	}
	
	@keyframes screenshots-left {
		50% {
			opacity: 0;
			transform: translateX($transform-length);
		}
		
		50.01% {
			opacity: 0;
			transform: translateX(-$transform-length);
		}
	}
	
	@keyframes screenshots-right {
		50% {
			opacity: 0;
			transform: translateX(-$transform-length);
		}
		
		50.01% {
			opacity: 0;
			transform: translateX($transform-length);
		}
	}
}
