.home.screenshots {
	> .background {
		height: calc(6 * 60vh + 0.1051042353 * 100vw); // tan(6deg)
		background: #5a2aff;
		transform: skewY(6deg);
	}
	
	> .content {
		> .background.fixed-container > .center-container > .background {
			width: min(100vw - 30px, 684px);
		}
		
		> .screenshots > div > .fixed-container > .center-container {
			> .screenshot {
				width: min(100vw - 60px, 342px);
			}
		}
	}
}
