.deck-cell.owned > .content {
	display: flex;
	flex-direction: column;
	width: 100%;

	> .due-cards-message {
		margin-top: auto;
		font-weight: bold;
		color: #9b9b9b;

		> span {
			display: inline-block;
			margin-right: 2px;
			font-size: 1.4em;
			transform: translateY(2px);
		}
	}

	> .review-button {
		margin-top: 10px;
		padding: 4px 0;
		text-align: center;
		font-size: 18px;
		font-weight: 900;
		color: white;
		background: #582efe;
		text-transform: uppercase;
		border-radius: 8px;
		transition: background 0.3s;

		> svg {
			margin-right: 14px;
			transform: scale(1.4);
		}

		&:hover,
		&:focus {
			background: #051e34;
		}
	}
}
