@use 'styles/colors';

.root {
	margin: 0 10px;
}

.customTrigger {
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.triggerImage {
	$dimension: 42px;

	width: $dimension;
	height: $dimension;
	object-fit: cover;
	border-radius: 50%;
}

.resetTrigger {
	padding: 10px;
	background: white;
	border-radius: 50%;
	transition: background 0.3s;

	&:hover {
		background: #051e34;

		.triggerIcon {
			fill: white;
		}
	}
}

.triggerIcon {
	fill: #582efe;
	transition: fill 0.3s;
}

.content {
	width: 250px;
	padding: 18px 20px;
	background: white;
	border-radius: 8px;

	@media (min-width: 330px) {
		width: 300px;
	}

	@media (min-width: 480px) {
		width: 400px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}

.profile {
	display: flex;
	align-items: center;
	margin-right: 12px;
	font-weight: 900;
	color: #007aff;

	&:hover {
		text-decoration: underline;

		.profileIcon {
			transform: translateX(4px);
		}
	}
}

.profileImage,
.profileDefaultImage {
	$dimension: 25px;

	width: $dimension;
	height: $dimension;
	margin-right: 8px;
	border-radius: 50%;
}

.profileImage {
	object-fit: cover;
}

.profileDefaultImage {
	padding: 2px;
	fill: #007aff;
	border: 1px solid #eee;
}

.profileIcon {
	margin-left: 4px;
	transition: transform 0.3s;
}

.settings {
	display: flex;
	font-size: 22px;
	color: #007aff;
	transition: transform 0.3s;

	&:hover {
		transform: rotate(30deg);
	}
}

.label {
	display: block;
	margin-top: 12px;
	font-size: 14px;
	font-weight: bold;
	color: #9b9b9b;
}

.value {
	font-size: 17px;
	color: colors.$dark-gray;
}

.divider {
	height: 1px;
	margin: 14px 0;
	background: #eee;
}

.notifications {
	display: flex;
	align-items: center;
	max-width: max-content;
	margin: 0 auto;
	font-weight: 900;
	color: #007aff;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.notificationsIcon {
	margin-right: 8px;
	font-size: 20px;
}
