@use 'styles/colors';

.root {
	margin: 0 10px;
}

.customTrigger {
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.triggerImage {
	$dimension: 42px;

	width: $dimension;
	height: $dimension;
	object-fit: cover;
	border-radius: 50%;
}

.resetTrigger {
	padding: 10px;
	background: white;
	border-radius: 50%;
	transition: background 0.3s;

	&:hover {
		background: #051e34;

		.triggerIcon {
			fill: white;
		}
	}
}

.triggerIcon {
	fill: #582efe;
	transition: fill 0.3s;
}

.content,
.settings,
.name,
.forgotPassword,
.signOut {
	border-radius: 4px;
}

.content {
	width: 400px;
	padding: 20px;
	background: white;
}

.profileLink {
	display: flex;
	align-items: center;
	max-width: max-content;
	margin-bottom: 12px;
	font-weight: 900;
	color: #007aff;

	&:hover {
		text-decoration: underline;

		.profileLinkIcon {
			transform: translateX(4px);
		}
	}
}

.profileLinkImage,
.profileLinkDefaultImage {
	$dimension: 25px;

	width: $dimension;
	height: $dimension;
	margin-right: 8px;
	border-radius: 50%;
}

.profileLinkImage {
	object-fit: cover;
}

.profileLinkDefaultImage {
	padding: 2px;
	fill: #007aff;
	border: 1px solid #eee;
}

.profileLinkIcon {
	margin-left: 4px;
	transition: transform 0.3s;
}

.settings,
.forgotPassword,
.signOut {
	width: 100%;
}

.settings,
.forgotPassword {
	border: 1px solid #ddd;
}

.settings {
	display: flex;
	flex-direction: column;
	padding: 20px 16px;
}

.nameFormHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
	font-size: 14px;
}

.nameLabel {
	font-weight: bold;
	color: #9b9b9b;
}

.saveName {
	font-weight: bold;
	color: #007aff;
	transition: opacity 0.3s;

	&:disabled {
		cursor: default;
		opacity: 0.5;
	}

	&:not(:disabled):hover {
		opacity: 0.5;
	}
}

.saveNameLoader {
	margin-right: 8px;
}

.name {
	width: 100%;
	padding: 8px 10px;
	color: colors.$dark-gray;
	background: transparentize(#f0f1f8, 1 / 3);
}

.emailLabel {
	margin-top: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #9b9b9b;
}

.email {
	font-size: 17px;
	color: colors.$dark-gray;
}

.forgotPassword,
.signOut {
	height: 40px;
	margin-top: 12px;
	font-weight: bold;
}

.forgotPassword {
	color: #4355f9;
	transition: color 0.3s, background 0.3s, border 0.3s;

	&:hover,
	&:focus {
		color: white;
		background: #051e34;
		border: none;
	}
}

.signOut {
	color: white;
	background: #f55d23;
	transition: background 0.3s;

	&:hover,
	&:hover {
		background: #051e34;
	}
}

.footerLabel {
	display: block;
	margin-top: 16px;
	font-weight: 900;
	color: colors.$dark-gray;
}

.footerInfo {
	margin-top: 2px;
	color: colors.$dark-gray;
}

.footerAction {
	vertical-align: initial;
	font-weight: bold;
	color: #007aff;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}
