@use 'styles/colors';

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
	padding: 0 14px;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;
	transition: border-color 0.3s, box-shadow 0.3s;

	@media (min-width: 400px) {
		width: 100px;
		padding: 0;
	}

	@media (min-width: 500px) {
		width: 130px;
	}

	@media (min-width: 600px) {
		width: 165px;
	}

	&:hover {
		border-color: white;
		box-shadow: 0 4px 8px transparentize(black, 0.9);
	}

	&:not(:last-child) {
		margin-right: 12px;
	}
}

.emoji {
	display: none;
	margin-right: 8px;
	font-size: 20px;

	@media (min-width: 500px) {
		display: block;
	}

	@media (min-width: 600px) {
		margin-right: 12px;
		font-size: 24px;
	}
}

.title {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 900;
	color: colors.$dark-gray;

	@media (min-width: 340px) {
		font-size: 12px;
	}

	@media (min-width: 600px) {
		font-size: 16px;
	}
}
