@font-face {
	font-family: OperatorMono-Bold;
	src: url('../fonts/OperatorMono-Bold.otf') format('opentype');
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Muli, Arial, Helvetica, sans-serif;
	border: none;
}

body {
	overscroll-behavior: none;
}

input,
textarea,
button {
	font-size: 100%;
	outline: none;
}

button {
	cursor: pointer;
	
	&:disabled {
		cursor: default;
	}
}

b,
strong {
	font-weight: bolder;
}

pre *,
code {
	font-family: OperatorMono-Bold, monospace;
}

pre {
	overflow-x: auto;
}
