@import '../../variables';

.create-card-pop-up.create-section-modal {
	> .title {
		margin-bottom: 1rem;
		font-size: 2.25rem;
		font-weight: bold;
		text-align: center;
	}
	
	> form {
		> .name-input {
			margin-bottom: 0.75rem;
		}
		
		> .publish-button-container {
			display: flex;
			justify-content: center;
			
			> .publish-button {
				height: 3rem;
				padding: 0 2rem;
				font-size: 1.25rem;
				font-weight: bold;
				text-transform: uppercase;
				color: $blue-400;
				border: 2px solid $blue-400;
				border-radius: 0.25rem;
				
				&.disabled {
					color: $blue-200;
					border-color: $blue-200;
				}
				
				&:not(.disabled):not(.loading):hover {
					color: white;
					background: $blue-400;
				}
			}
		}
	}
}
