@import '../../variables';

.create-card-pop-up.horizontal-scrolling-list {
	display: flex;
	overflow-x: auto;
	padding: 1rem;
	background: white;
	border: 1px solid $gray-400;
	border-radius: 0.5rem;
	
	> * {
		display: inline-block;
		flex: 0 0 auto;
		
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}
}
