@use 'styles/colors';
@use 'styles/text';

.root {
	$full-width: calc(
		100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 -
			var(--inner-horizontal-padding) * 2
	);

	--image-dimension: 180px;

	display: grid;
	grid:
		'image' var(--image-dimension)
		'content' auto
		'stats' auto /
		#{$full-width};
	margin: var(--inner-horizontal-padding) var(--inner-horizontal-padding) 0;
	width: 100%;

	@media (min-width: 705px) {
		$partial-width: calc(
			100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 -
				var(--inner-horizontal-padding) * 2 - var(--image-dimension)
		);

		--image-dimension: 220px;

		grid:
			'image content' var(--image-dimension)
			'stats stats' auto /
			var(--image-dimension) #{$partial-width};
	}
}

.image {
	grid-area: image;
	justify-self: center;
	width: var(--image-dimension);
	height: var(--image-dimension);
	object-fit: cover;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;
}

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	@media (min-width: 705px) {
		margin-top: 0;
		margin-left: 20px;
	}
}

.name {
	@include text.line-limit(2);

	font-size: 24px;
	font-weight: 800;
	color: colors.$dark-gray;
}

.subtitle,
.creator {
	color: #9b9b9b;
}

.subtitle {
	@include text.line-limit(1);

	margin-top: 6px;
	font-size: 20px;
	font-weight: 700;
}

.creator {
	display: flex;
	align-items: center;
	margin: 10px 0 10px 6px;
}

.creatorIcon {
	flex-shrink: 0;
	margin-right: 14px;
	transform: scale(2.2);
}

.creatorName,
.creatorLevel {
	font-weight: bold;
}

.creatorName {
	@include text.overflow-ellipsis;

	font-size: 20px;
}

.creatorLevel {
	flex-shrink: 0;
	margin-left: 8px;
	font-size: 15px;
	color: #582efe;
}

.actions {
	display: flex;
	flex-direction: column;
	margin-top: 10px;

	@media (min-width: 465px) {
		flex-direction: row;
	}

	@media (min-width: 705px) {
		margin-top: auto;
		margin-bottom: 12px;
	}
}

.get,
.open,
.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	color: white;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;
}

.secondaryActions {
	display: flex;
	margin: 16px 0 0;

	@media (min-width: 465px) {
		margin: 0 0 0 16px;
	}
}

.contact {
	margin-right: 16px;
	padding: 0 30px;
	background: #f85ea1;

	@media (min-width: 305px) {
		padding: 0 15px;
	}

	@media (min-width: 316px) {
		padding: 0 20px;
	}

	@media (min-width: 336px) {
		padding: 0 30px;
	}

	&:hover,
	&:focus {
		background: #051e34;
	}
}

.contactIcon {
	transform: scale(1.2);
}

.contactText {
	margin-left: 10px;

	@media (max-width: 305px) {
		display: none;
	}
}

.share {
	height: 40px;
	padding: 0 20px;
	border: 1.5px solid transparentize(#ddd, 0.2);
	border-radius: 8px;
	transition: background 0.3s, border-color 0.3s;

	&:hover {
		background: #051e34;
		border-color: #051e34;

		.shareIcon {
			fill: white;
		}
	}
}

.shareIcon {
	fill: #4355f9;
	transform: scale(1.3) translate(-0.5px, 0.5px);
	transition: fill 0.3s;
}

.get {
	background: #4355f9;

	&:hover,
	&:focus {
		background: #00d388;
	}
}

.open {
	background: #00d388;

	&:hover,
	&:focus {
		background: #051e34;
	}
}

.stats {
	--star-height: 30px;

	grid-area: stats;
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow-x: auto;
	margin: 0 auto;
	padding-top: 25px;
}

.statDivider,
.rating,
.downloads,
.users,
.cards,
.comments {
	flex-shrink: 0;
}

.statDivider {
	width: 3px;
	height: 28px;
	margin: 0 20px;
	background: transparentize(#ddd, 0.5);
}

.rating,
.downloads,
.users,
.cards,
.comments {
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.rating,
.downloads,
.users,
.comments {
	display: flex;
	align-items: center;
}

.statIcon {
	margin: 0 8px 0 6px;
	transform: scale(2.2);
}

.statText {
	margin-left: 8px;
	font-size: 24px;
	font-weight: 600;
	color: #9b9b9b;
}

.users {
	margin-right: -4px;
}

.cards {
	margin-left: -4px;
	font-size: 24px;
	font-weight: 600;
	color: #9b9b9b;
}

.comments {
	margin-left: 6px;
}

.commentsIcon {
	color: #9b9b9b;
	transform: scale(1.5);
}

.commentsText {
	composes: statText;
	margin-left: 15px;
	transform: translateY(-2px);
}
