@font-face {
	font-family: Muli;
	src: url('../Muli-Regular.ttf') format('truetype');
}

body {
	font-family: Muli, Arial, Helvetica, sans-serif !important;
	margin-left: 12px !important;
	margin-right: 12px !important;
}

body * {
	font-family: Muli, Arial, Helvetica, sans-serif !important;
}

img {
	max-width: calc(100vw - 12px * 2) !important;
}

:focus {
	outline: none !important;
}
