@font-face {
	font-family: Muli;
	src: url('../Muli-Regular.ttf') format('truetype');
}

html {
	text-size-adjust: 100%;
	line-height: 1.5;
}

body,
body *,
body ::before,
body ::after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	border: none;
	outline: none;
}

body {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0 12px;
	font-family: Muli, Arial, Helvetica, sans-serif;
}

pre,
code,
kbd,
samp {
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

img {
	max-width: 100%;
}

:focus {
	outline: none;
}
