@import '../../variables';

.card-cell.owned {
	position: relative;
	
	&.owner {
		cursor: pointer;
		
		> .footer:not(.has-user-data) {
			justify-content: center;
		}
	}
	
	> .due-badge {
		$dimension: 14px;
		$inset: -$dimension / 2;
		
		position: absolute;
		top: $inset;
		left: $inset;
		width: $dimension;
		height: $dimension;
		background: #4355f9;
		border-radius: 50%;
		opacity: 0.5;
	}
	
	> .footer {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		overflow-x: auto;
		margin: 0 10px;
		padding: 16px 10px;
		border-top: 2px solid #eee;
		
		@media (min-width: 560px) {
			flex-direction: row;
			align-items: center;
			
			> * {
				margin-bottom: 0 !important;
			}
		}
		
		@media (min-width: 650px) {
			display: flex;
			
			> .edit-message {
				display: flex !important;
			}
		}
		
		&.has-user-data {
			display: flex;
			justify-content: space-between;
		}
		
		> * {
			flex-shrink: 0;
			
			&:not(:last-child) {
				margin: 0 12px 12px 0;
			}
		}
		
		> .due-date,
		> .stats {
			padding: 2px 8px;
			font-weight: bold;
			color: #4355f9;
			background: transparentize(#4355f9, 0.9649);
			border-radius: 5px;
		}
		
		> .edit-message {
			$color: $dark-gray;
			
			display: none;
			align-items: center;
			opacity: 0.7;
			
			> svg {
				margin-right: 8px;
				fill: $color;
				transform: scale(1.2);
			}
			
			> p {
				font-weight: bold;
				color: $color;
			}
		}
		
		> .stats {
			display: flex;
			align-items: center;
			
			> svg {
				margin-right: 6px;
			}
		}
	}
}
