@import '../../variables';
@import '../../mixins';

.deck-cell {
	@include raise-on-hover;
	
	display: flex;
	overflow: hidden;
	width: $deck-cell-width;
	height: $deck-cell-height;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;
	box-shadow: 0 5px 10px 0 transparentize(black, 0.9);
	
	> img {
		width: $deck-cell-height;
		height: $deck-cell-height;
		object-fit: cover;
		box-shadow: 0 0 20px 0 transparentize(black, 0.9);
	}
	
	> .content {
		padding: 16px;
		
		> .name,
		> .subtitle,
		> .creator > p {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		
		> .name {
			font-size: 18px;
			font-weight: 900;
			color: $dark-gray;
		}
		
		> .subtitle,
		> .creator {
			color: #9b9b9b;
		}
		
		> .subtitle,
		> .creator > p {
			-webkit-line-clamp: 1;
		}
		
		> .subtitle {
			font-size: 15px;
			font-weight: 800;
		}
		
		> .creator {
			display: flex;
			align-items: center;
			margin: 6px 0;
			
			> svg {
				margin-right: 8px;
				transform: scale(1.3);
			}
			
			> p {
				font-weight: 700;
			}
		}
	}
}
