@use 'styles/colors';

.root {
	margin-top: 12px;
	transition: opacity 0.3s;

	&[aria-disabled='true'] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.day {
	$background: #007aff;
	$border-radius: 8px;

	padding: 6px 12px;
	text-transform: uppercase;
	line-height: 1.15;
	font-size: 14px;
	font-weight: 900;
	color: colors.$dark-gray;
	border: solid #eee;
	border-width: 1px 0 1px 1px;
	transition: color 0.3s, background 0.3s, border-color 0.3s;

	&[aria-selected='true'] {
		color: white;
		background: $background;
		border-color: $background;
	}

	&:first-child {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	&:last-child {
		border-right-width: 1px;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}

.time {
	margin-left: 8px;
	border: 1px solid #eee;
	border-radius: 8px;
}

.timeTrigger {
	padding: 0 8px;
}

.timeContent {
	max-height: calc(100vh - 400px);
}
