@use 'styles/colors';
@use 'styles/text';

$min-width: 572px;
$max-width: $min-width + 100px;
$height: 195px;

.root {
	display: flex;
	overflow: hidden;
	min-width: $min-width;
	max-width: $max-width;
	height: $height;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;
	transition: transform 0.3s;

	&:hover,
	&:focus {
		transform: translateY(-2px);
	}
}

.image {
	flex-shrink: 0;
	width: $height;
	height: $height;
	object-fit: cover;
	background: white;
}

.content {
	flex-grow: 1;
	padding: 16px;
}

.name,
.subtitle {
	@include text.prepare-for-line-limit;

	overflow: hidden;
}

.name {
	font-size: 18px;
	font-weight: 900;
	color: colors.$dark-gray;
}

.subtitle {
	-webkit-line-clamp: 1;
	font-size: 15px;
	font-weight: 800;
	color: #9b9b9b;
}

.creator {
	display: flex;
	align-items: center;
	max-width: 400px;
	width: max-content;
	margin: 6px 0;
	font-weight: 900;
	color: #007aff;

	&:hover {
		text-decoration: underline;

		.creatorIcon {
			transform: translateX(4px);
		}
	}
}

.creatorImage,
.creatorDefaultImage,
.creatorIcon {
	flex-shrink: 0;
}

.creatorImage,
.creatorDefaultImage {
	$dimension: 25px;

	width: $dimension;
	height: $dimension;
	margin-right: 8px;
	border-radius: 50%;
}

.creatorImage {
	object-fit: cover;
}

.creatorDefaultImage {
	padding: 2px;
	fill: #007aff;
	border: 1px solid #eee;
}

.creatorName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.creatorIcon {
	margin-left: 6px;
	transition: transform 0.3s;
}
