@font-face {
	font-family: Muli;
	src: url('Muli-Regular.ttf') format('truetype');
}
body {
	font-family: Muli, Arial, Helvetica, sans-serif;
	margin: 0;
}
.ck.ck-dropdown__panel.ck-dropdown__panel_sw > .ck.ck-toolbar > .ck.ck-toolbar__items {
	width: calc(100vw - 10px * 2);
	flex-wrap: wrap;
}
.ck.ck-editor__main > .ck-editor__editable {
	height: calc(100vh - 40.2px);
}
