$dimension: 30px;

.root {
	flex-shrink: 0;
	width: $dimension;
	height: $dimension;
	border: 1.5px solid #ddd;
	border-radius: 50%;
	transition: opacity 0.3s, transform 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.icon {
	color: #582efe;
}
