@import '../../variables';
@import '../../mixins';

@include modal-content('share') {
	$max-width: 800px;
	$margin: 20px;
	
	display: flex;
	flex-direction: column;
	width: calc(min(100vw - #{$margin * 2}, #{$max-width}));
	overflow: hidden;
	margin: $margin;
	background: white;
	border-radius: 8px;
	
	> .top {
		padding: 20px 30px;
		color: white;
		background: linear-gradient(10deg, #5a2aff, #00e5f4);
		
		> .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			> .title {
				font-size: 30px;
				font-weight: 900;
			}
			
			> .hide {
				margin: 0 8px;
				transform: scale(2);
				transition: opacity 0.3s;
				
				&:hover {
					opacity: 0.5;
				}
			}
		}
		
		> .message {
			margin-top: 6px;
			font-weight: bold;
			
			> b {
				font-weight: 900;
			}
		}
		
		> .tabs {
			display: flex;
			align-items: center;
			margin-top: 10px;
			
			> button {
				padding: 0 10px 1px;
				font-size: 20px;
				font-weight: 900;
				color: white;
				opacity: 0.8;
				border-bottom: 2px solid transparent;
				transition: opacity 0.3s, border-color 0.3s;
				
				&.selected {
					opacity: 1;
					border-color: white;
				}
				
				&:not(.selected):hover {
					opacity: 1;
					border-color: transparentize(white, 0.5);
				}
				
				&:not(:last-child) {
					margin-right: 12px;
				}
			}
		}
	}
	
	> form {
		padding: 30px;
		
		> .url {
			display: flex;
			align-items: center;
			max-width: max-content;
			overflow: hidden;
			margin: 0 auto;
			padding: 0 30px;
			background: transparentize(#f0f1f8, 0.32);
			border-radius: 100px;
			
			> svg {
				margin-right: 12px;
				color: #5a2aff;
				transform: scale(1.2);
			}
			
			> p {
				overflow-x: auto;
				white-space: nowrap;
				font-family: Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
				font-weight: bold;
				padding: 12px 0;
				color: $dark-gray;
				transform: translateY(1px);
			}
		}
		
		> button {
			display: block;
			width: 110px;
			margin: 20px auto 0;
			padding: 8px 0;
			font-size: 20px;
			font-weight: 900;
			color: white;
			background: #5a2aff;
			border-radius: 100px;
			transition: width 0.3s, background 0.3s;
			
			&.copied {
				width: 134px;
				
				&:not(:hover) {
					background: #00d388;
				}
			}
			
			&:hover,
			&:focus {
				background: #051e34;
			}
		}
	}
}
