service firebase.storage {
	match /b/{bucket}/o {
		match /{uploadId} {
			allow read
			allow create: if signedInWith(request.resource.metadata.owner)
			allow update, delete: if signedInWith(resource.metadata.owner)
		}

		function authId() {
			return request.auth.uid
		}

		function signedIn() {
			return request.auth != null
		}

		function signedInWith(uid) {
			return signedIn() && authId() == uid
		}
	}
}