<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/tutorial.css">
		{% if not is_mobile %}
		<link rel="icon" href="/images/favicon.png">
		{% endif %}
		<title>{{ title }}</title>
	</head>
	<body>
		{% if not is_mobile %}
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="https://firebasestorage.googleapis.com/v0/b/memorize-ai.appspot.com/o/static%2Ftransparent-light-logo-arrows.png?alt=media&token=f04285ba-1738-4a46-b659-4498f26b4ba3">
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item dashboard-button" href="/dashboard">Dashboard</a>
				</div>
			</div>
		</nav>
		<div class="bar"></div>
		<aside class="menu is-hidden-mobile sections">
			{% for section in sections %}
			<p class="menu-label">{{ section.name }}</p>
			<ul class="menu-list pages">
				{% for page in section.pages %}
				<a href="/tutorials/{{ selected.section }}/{{ page.slug }}" class="{% if page.slug == selected.page %}is-active {% endif %}page">{{ page.name }}</a>
				{% endfor %}
			</ul>
			{% endfor %}
		</aside>
		{% endif %}
		{{ body }}
	</body>
</html>