<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
		<link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/memorize-ai.appspot.com/o/static%2Ffavicon.png?alt=media&token=b070c06a-b02c-44be-80d0-9924416f5c4d">
		<title>{{ user_name }} - memorize.ai</title>
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="https://firebasestorage.googleapis.com/v0/b/memorize-ai.appspot.com/o/static%2Ftransparent-light-logo-arrows.png?alt=media&token=f04285ba-1738-4a46-b659-4498f26b4ba3">
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item dashboard-button" href="/dashboard">Dashboard</a>
				</div>
			</div>
		</nav>
		<div class="bar"></div>
		<div class="main">
			<h1 class="title">This page is currently in progress</h1>
			<h1>Check back again soon!</h1>
		</div>
	</body>
</html>