@import '../../variables';
@import '../../mixins';

.deck-cell {
	$min-width: 572px;
	$max-width: $min-width + 100px;
	$height: 195px;
	
	@include raise-on-hover;
	
	display: flex;
	overflow: hidden;
	min-width: $min-width;
	max-width: $max-width;
	height: $height;
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px 0 transparentize(black, 0.9);
	
	> img {
		width: $height;
		height: $height;
		object-fit: cover;
		background: white;
	}
	
	> .content {
		padding: 16px;
		
		> .name,
		> .subtitle,
		> .creator > p {
			@include prepare-for-line-limit;
			
			overflow: hidden;
		}
		
		> .name {
			font-size: 18px;
			font-weight: 900;
			color: $dark-gray;
		}
		
		> .subtitle,
		> .creator {
			color: #9b9b9b;
		}
		
		> .subtitle,
		> .creator > p {
			-webkit-line-clamp: 1;
		}
		
		> .subtitle {
			font-size: 15px;
			font-weight: 800;
		}
		
		> .creator {
			display: flex;
			align-items: center;
			margin: 6px 0;
			
			> svg {
				margin-right: 8px;
				transform: scale(1.3);
			}
			
			> p {
				font-weight: 700;
			}
		}
	}
}
