@import '../variables';
@import '../mixins';

.dropdown {
	position: relative;
	
	> .content {
		position: absolute;
		z-index: $overlay-z-index;
		animation: dropdown-fade-in linear 0.1s;
		
		&:not(.right-aligned) {
			left: 0;
		}
		
		&.right-aligned {
			right: 0;
		}
		
		&.shadow-around {
			border: 1px solid #dcdcdc;
			box-shadow: 0 0 80px 20px transparentize(black, 0.7);
		}
		
		&.shadow-screen {
			box-shadow: 0 0 0 100vmax transparentize(black, 0.7);
		}
	}
	
	&.showing > .trigger {
		cursor: default;
	}
}

@keyframes dropdown-fade-in {
	from {
		opacity: 0.5;
		transform: translateX(-20px);
	}
}
