@import '../variables';

.image-picker {
	$default-dimension: 200px;
	$dimension: #{var(--dimension, $default-dimension)};
	
	display: grid;
	position: relative;
	justify-content: center;
	align-content: center;
	width: $dimension;
	height: $dimension;
	cursor: pointer;
	background: #eee;
	border: 2px solid #eee;
	box-shadow:
		0 0 15px -3px rgba(0, 0, 0, 0.1),
		0 0 6px -2px rgba(0, 0, 0, 0.05);
	
	&.dragging {
		animation: image-picker-pulse ease-in-out infinite alternate 0.3s;
	}
	
	&,
	> img {
		border-radius: 12px;
	}
	
	> .message {
		user-select: none;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		
		> p:first-child {
			font-size: 1.1rem;
			color: transparentize($dark-gray, 0.5);
		}
		
		> p:last-child {
			font-size: 0.8rem;
			color: transparentize($dark-gray, 0.7);
		}
	}
	
	> img {
		width: $dimension;
		height: $dimension;
		object-fit: cover;
	}
	
	> button {
		position: absolute;
		top: 10px;
		right: 15px;
		
		> svg {
			color: transparentize($red-400, 0.25);
			transform: scale(1.8);
			transition: transform 0.3s;
		}
		
		&:hover > svg {
			transform: scale(2.2);
		}
	}
}

@keyframes image-picker-pulse {
	from {
		transform: scale(1);
	}
	
	to {
		transform: scale(1.05);
	}
}
