@import '../variables';

.image-picker {
	$default-dimension: 200px;
	$dimension: #{var(--dimension, $default-dimension)};
	
	display: grid;
	position: relative;
	align-content: center;
	width: $dimension;
	height: $dimension;
	background: #eee;
	
	&.dragging {
		animation: image-picker-pulse ease-in-out infinite alternate 0.3s;
	}
	
	&:not(.has-image) {
		cursor: pointer;
	}
	
	&,
	> img {
		border-radius: 12px;
	}
	
	> .message {
		user-select: none;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		
		> p:first-child {
			font-size: 1.1rem;
			color: transparentize($dark-gray, 0.5);
		}
		
		> p:last-child {
			font-size: 0.8rem;
			color: transparentize($dark-gray, 0.7);
		}
	}
	
	> img {
		width: $dimension;
		height: $dimension;
		object-fit: cover;
	}
	
	> button {
		$spacing: 8px;
		$dimension: 30px;
		
		position: absolute;
		top: $spacing;
		right: $spacing;
		width: $dimension;
		height: $dimension;
		line-height: $dimension;
		color: white;
		background: transparentize($red-400, 0.25);
		border-radius: 50%;
	}
}

@keyframes image-picker-pulse {
	from {
		transform: scale(1);
	}
	
	to {
		transform: scale(1.05);
	}
}
