@import '../mixins';

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 30px 0 30px;
	transition: padding 0.3s;
	
	@media (min-width: 500px) {
		> a {
			margin-right: 12px;
			
			> .logo {
				min-width: 215px;
			}
		}
		
		> .items {
			display: flex !important;
		}
	}
	
	@media (min-width: 945px) {
		padding-left: 135px;
		padding-right: 135px;
	}
	
	> a > .logo {
		@include raise-on-hover;
		
		max-height: 60px;
	}
	
	> .items {
		display: none;
		align-items: flex-end;
		overflow-x: auto;
		margin-left: auto;
		
		&:not(.signed-in) {
			border-bottom: 2px solid transparentize(#ddd, 0.8);
		}
		
		&:not(.has-auth-button) > .market-tab {
			padding-right: 14px;
		}
		
		> * {
			flex-shrink: 0;
		}
		
		> .market-tab {
			display: flex;
			align-items: center;
			padding: 0 20px 13px 14px;
			color: white;
			
			> svg,
			> p {
				opacity: 0.9;
				transition: opacity 0.3s;
			}
			
			> p {
				margin-left: 10px;
				font-weight: bold;
			}
			
			&:hover,
			&:focus {
				> svg,
				> p {
					opacity: 1;
				}
			}
		}
		
		> .auth-button,
		> .dashboard-button {
			margin: 0 12px 10px 8px;
			padding: 8px 14px;
			font-size: larger;
			font-weight: bold;
			color: white;
			background: #051e34;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s;
			
			> span {
				opacity: 0.7;
			}
			
			&:hover,
			&:focus {
				color: #051e34;
				background: white;
			}
		}
	}
}
