@import '../mixins';

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 30px 0 30px;
	transition: padding 0.3s;
	
	@media (min-width: 800px) {
		padding-left: 135px;
		padding-right: 135px;
	}
	
	> a > .logo {
		@include raise-on-hover;
		
		max-height: 60px;
	}
	
	> .items {
		display: flex;
		align-items: center;
		margin: 0 40px 0 auto;
	}
	
	> .app-store-download-button {
		display: none;
		padding-right: 20px;
		transform: scale(1.25);
		transition: transform 0.2s;
		
		@media (min-width: 500px) {
			display: block;
		}
		
		&:hover,
		&:focus {
			transform: scale(1.35);
		}
	}
}
