@import '../mixins';

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 30px 0 30px;
	transition: padding 0.3s;
	
	> a {
		margin-right: 12px;
		
		> .logo {
			@include raise-on-hover;
			
			min-width: 215px;
			max-height: 60px;
		}
	}
	
	> .items {
		display: flex;
		margin-left: auto;
	}
}
