.navbar {
	padding: 30px 30px 0 30px;
	transition: padding 0.3s;
	
	@media (min-width: 800px) {
		padding-left: 135px;
		padding-right: 135px;
	}
	
	> a > .capital-logo {
		max-height: 60px;
	}
	
	> .items {
		margin-right: 40px;
	}
	
	> .app-store-download-button {
		padding-right: 20px;
		transform: scale(1.25);
		transition: transform 0.2s;
		
		@media (min-width: 500px) {
			@apply block;
		}
		
		&:hover,
		&:focus {
			transform: scale(1.35);
		}
	}
}
