@import '../variables';

.publish-deck-content {
	display: flex;
	
	> .image-picker {
		flex-shrink: 0;
		margin-right: 30px;
	}
	
	> .right {
		flex-grow: 1;
		
		> .inputs {
			> label {
				display: block;
				margin-bottom: 6px;
				font-weight: bold;
				color: #9b9b9b;
				
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
		
		> .no-topics-message {
			margin-top: 8px;
			font-weight: bold;
			color: $red-600;
		}
		
		> .topics {
			$cell-dimension: 150px;
			
			display: grid;
			grid-template-columns: repeat(auto-fill, $cell-dimension);
			gap: 12px;
			justify-content: center;
			margin-top: 16px;
			
			> button {
				position: relative;
				overflow: hidden;
				width: $cell-dimension;
				height: $cell-dimension;
				border-radius: 8px;
				background-size: cover;
				background-position: center;
				
				> .check,
				> p {
					position: absolute;
				}
				
				> .check {
					$dimension: 30px;
					
					top: 12px;
					right: 12px;
					width: $dimension;
					height: $dimension;
					background: transparentize(white, 0.5);
					border: 1px solid white;
					border-radius: 50%;
					transition: background 0.3s, border 0.3s;
					
					> svg {
						color: white;
						opacity: 0;
						transform: translateY(2.5px);
						transition: opacity 0.3s;
					}
				}
				
				&.selected > .check {
					background: #00d388;
					border-color: #00d388;
					
					> svg {
						opacity: 1;
					}
				}
				
				> p {
					right: 8px;
					bottom: 12px;
					left: 8px;
					text-align: center;
					color: white;
				}
			}
		}
	}
}
