@import '../mixins';

.stars {
	display: flex;
	align-items: center;
	
	> div {
		$aspect-ratio: 26.2px / 25px;
		$default-height: 25px;
		
		@include stack;
		
		flex-shrink: 0;
		width: calc(#{$aspect-ratio} * var(--star-height, #{$default-height}));
		height: var(--star-height, $default-height);
		
		> div {
			background: #00d388;
		}
		
		> img {
			max-width: unset;
			height: 100%;
		}
		
		&:not(:last-child) {
			margin-right: 2px;
		}
	}
}
