@import '../variables';

.unsubscribe {
	display: grid;
	justify-items: center;
	align-content: center;
	min-height: 100vh;
	padding: 12px;
	
	> h1 {
		text-align: center;
	}
	
	> .loader {
		margin-top: 12px;
	}
	
	&.success > h1 {
		color: $green-400;
	}
	
	&.fail > h1 {
		color: $red-400;
	}
}
