.root {
	display: block;
	position: relative;
	text-decoration: none;
	
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.body {
	position: relative;
	max-height: 300px;
	overflow: hidden;
	mask-image: linear-gradient(to bottom, white 65%, transparent 100%);
}

.readMore {
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: 900;
	color: #b2ccd6;
	
	&:hover {
		text-decoration: underline;
	}
}
