.root {
	margin-bottom: 20px;
	padding-bottom: 12px;
	border-bottom: 2px solid transparentize(white, 0.9);
}

.title {
	font-weight: 900;
	color: white;
	
	@media (min-width: 800px) {
		font-size: 40px;
	}
}

.description {
	margin-top: 8px;
	font-size: 20px;
	font-weight: 900;
	color: white;
}

.by {
	margin-top: 20px;
	font-weight: 900;
	color: white;
	opacity: 0.7;
}

.email {
	text-decoration: none;
	color: inherit;
	
	&:hover {
		text-decoration: underline;
	}
}

.topics {
	margin-top: 20px;
	font-weight: 900;
	color: white;
	opacity: 0.7;
}

.date {
	margin-top: 6px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
}
