.root {
	display: block;
	position: relative;
	text-decoration: none;
	
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.title {
	font-size: 40px;
	font-weight: 900;
	color: white;
}

.description {
	margin-top: 8px;
	font-size: 20px;
	font-weight: 900;
	color: white;
}

.by {
	margin: 20px 0;
	padding-bottom: 12px;
	font-weight: 900;
	color: white;
	opacity: 0.7;
	border-bottom: 2px solid transparentize(white, 0.9);
}

.body {
	position: relative;
	max-height: 300px;
	overflow: hidden;
	mask-image: linear-gradient(to bottom, white 65%, transparent 100%);
}

.readMore {
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: 900;
	color: #b2ccd6;
	
	&:hover {
		text-decoration: underline;
	}
}
