.root {
	display: flex;
	height: 100vh;
}

.sidebar {
	@media (max-width: 700px) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: -300px;
		z-index: 1;
		box-shadow: none;
		transition: left 0.3s, box-shadow 0.3s;
	}
}

.sidebarShowing {
	left: 0;
	
	@media (max-width: 700px) {
		box-shadow: -4px 0 30px 0 transparentize(black, 0.1);
	}
}

.body {
	flex-grow: 1;
	position: relative;
	overflow-y: auto;
	
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: black;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
	}
}

.bodyDisabled::after {
	opacity: 0.5;
	pointer-events: all;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	
	@media (min-width: 700px) {
		display: none;
	}
}

.hamburgerMenu {
	flex-shrink: 0;
	display: grid;
	gap: 8px;
	width: 35px;
	margin-right: 20px;
	background: transparent;
	transition: opacity 0.3s;
	
	&:hover {
		opacity: 0.5;
	}
}

.hamburgerMenuRow {
	height: 4px;
	background: white;
	border-radius: 1px;
}

.logo {
	display: block;
	max-width: 100%;
	max-height: 41px;
	transition: transform 0.3s;
	
	&:hover {
		transform: translateY(-2px);
	}
}
