@import '../../mixins';
@import '../../functions';

@include dashboard-content('interests') {
	padding: 0 var(--horizontal-padding) var(--horizontal-padding);
	
	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 16px;
		
		> .left {
			color: white;
			
			> .title {
				font-weight: 900;
			}
			
			> .subtitle {
				display: none;
				opacity: 0.7;
				
				@media (min-width: 560px) {
					display: block;
				}
				
				@media (min-width: 820px) {
					display: none;
				}
				
				@media (min-width: 870px) {
					display: block;
				}
			}
		}
		
		> .market-link {
			--color: #582efe;
			
			flex-shrink: 0;
			display: none;
			align-items: center;
			padding: 12px 16px;
			background: white;
			border-radius: 8px;
			transition: background 0.3s;
			
			@media (min-width: 515px) {
				display: flex;
			}
			
			> svg {
				margin-right: 10px;
				fill: var(--color);
				transition: fill 0.3s;
			}
			
			> p {
				font-weight: 900;
				color: var(--color);
				transition: color 0.3s;
			}
			
			&:hover {
				--color: white;
				
				background: #051e34;
			}
		}
	}
	
	> .topics {
		$cell-dimension: 150px;
		
		display: grid;
		grid-template-columns: repeat(auto-fill, $cell-dimension);
		gap: 12px;
		justify-content: center;
		margin-top: 32px;
		
		> button {
			position: relative;
			overflow: hidden;
			width: $cell-dimension;
			height: $cell-dimension;
			border-radius: 8px;
			background-size: cover;
			background-position: center;
			
			> .check,
			> p {
				position: absolute;
			}
			
			> .check {
				$dimension: 30px;
				
				top: 12px;
				right: 12px;
				width: $dimension;
				height: $dimension;
				background: transparentize(white, 0.5);
				border: 1px solid white;
				border-radius: 50%;
				transition: background 0.3s, border 0.3s;
				
				> svg {
					color: white;
					opacity: 0;
					transform: translateY(2.5px);
					transition: opacity 0.3s;
				}
			}
			
			&.selected > .check {
				background: #00d388;
				border-color: #00d388;
				
				> svg {
					opacity: 1;
				}
			}
			
			> p {
				right: 8px;
				bottom: 12px;
				left: 8px;
				text-align: center;
				font-weight: bold;
				color: white;
			}
		}
	}
}
