@import '../../variables';
@import '../../mixins';
@import '../../functions';

@include dashboard-content('market') {
	display: grid;
	grid:
		'header' auto
		'decks' 1fr /
		auto;
	overflow-y: unset;
	
	> .header {
		$margin: 16px;
		
		grid-area: header;
		display: flex;
		align-items: center;
		margin: $margin 30px 0 30px;
		
		> .create {
			$dimension: 45px;
			
			display: flex;
			align-items: center;
			width: $dimension;
			height: $dimension;
			padding: 0 14px;
			color: white;
			border: 1.5px solid transparentize(#eee, 0.8);
			border-radius: 8px;
			
			> svg {
				opacity: 0.7;
				transform: scale(1.1);
				transition: opacity 0.3s;
			}
			
			&:hover,
			&:focus {
				> svg {
					opacity: 1;
				}
			}
		}
		
		> .search {
			width: 100%;
			margin: 0 $margin;
			
			> input {
				padding: raw-repeat(3, 12px) 44px;
				color: white;
				background: transparentize(#eee, 0.8);
				border: none;
				border-radius: 100px;
				
				&::placeholder {
					color: transparentize(#eee, 0.2);
				}
			}
			
			> svg {
				top: 16px;
				left: 16px;
				color: #eee;
			}
		}
	}
	
	> .decks {
		grid-area: decks;
		overflow-y: auto;
		margin-top: 12px;
		padding: 4px raw-repeat(3, 30px);
		
		> div {
			$cell-margin-bottom: 16px;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			
			> .deck-row {
				$max-width: 1200px;
				$height: 300px;
				$image-margin: 16px;
				$image-dimension: calc(#{unquote(
					'var(--image-dimension) + #{$image-margin}'
				)});
				$full-width: calc(#{unquote(
					'100vw - var(--sidebar-width) - #{30px * 2}'
				)});
				
				--image-dimension: 150px;
				
				@include raise-on-hover;
				
				display: grid;
				grid:
					'image' auto
					'content' auto
					'footer' auto /
					#{css-min($max-width, $full-width)};
				overflow: hidden;
				margin-bottom: $cell-margin-bottom;
				background: white;
				border: 1px solid #eee;
				border-radius: 8px;
				
				@media (min-width: 700px) {
					$full-width: calc(#{unquote(
						'100vw - var(--sidebar-width) - var(--image-dimension) - #{30px * 2 + $image-margin}'
					)});
					
					grid:
						'image content' #{$image-dimension}
						'footer footer' auto /
						#{$image-dimension} #{$full-width};
					
					> img {
						margin: $image-margin 0 0 $image-margin !important;
					}
					
					> .footer > .stats {
						display: flex !important;
					}
				}
				
				@media (min-width: 1300px) {
					$full-width: calc(#{unquote(
						'100vw - var(--sidebar-width) - #{30px * 2} - #{$height}'
					)});
					
					--image-dimension: #{$height - $image-margin * 2};
					
					grid:
						'image content' auto
						'image footer' 1fr /
						#{$height}
						#{css-min($max-width, $full-width)};
					
					> img {
						margin: $image-margin !important;
					}
					
					> .content,
					> .footer {
						padding-left: 0 !important;
					}
					
					> .content {
						> .name {
							font-size: 26px !important;
						}
						
						> .subtitle {
							font-size: 24px !important;
						}
					}
					
					> .footer {
						padding-top: 10px !important;
					}
				}
				
				> img {
					$dimension: var(--image-dimension);
					
					grid-area: image;
					width: $dimension;
					height: $dimension;
					margin: $image-margin auto 0 auto;
					object-fit: cover;
					background: white;
					border: 1px solid #eee;
					border-radius: 8px;
				}
				
				> .content {
					grid-area: content;
					padding: 16px 16px 0 16px;
					
					> .name {
						@include line-limit(2);
						
						font-size: 25px;
						font-weight: 800;
						color: $dark-gray;
					}
					
					> .subtitle {
						@include overflow-ellipsis;
						
						margin-top: 4px;
						font-size: 20px;
						font-weight: 700;
						color: #9b9b9b;
					}
					
					> .creator {
						display: flex;
						align-items: center;
						width: 100%;
						margin: 10px 0 10px 6px;
						color: #9b9b9b;
						
						> svg {
							flex-shrink: 0;
							margin-right: 14px;
							transform: scale(2.2);
						}
						
						> p {
							@include overflow-ellipsis;
							
							font-size: 20px;
							font-weight: bold;
						}
					}
				}
				
				> .footer {
					grid-area: footer;
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					padding: 16px;
					
					> .stats {
						--star-height: 30px;
						
						display: none;
						align-items: center;
						overflow-x: auto;
						margin: auto 0 18px 0;
						
						> * {
							flex-shrink: 0;
						}
						
						> .divider {
							width: 3px;
							height: 28px;
							margin: 0 20px;
							background: transparentize(#ddd, 0.5);
						}
						
						> .rating,
						> .downloads,
						> .current-users {
							display: flex;
							align-items: center;
							
							> p {
								margin-left: 8px;
								font-size: 24px;
								font-weight: 600;
								color: #9b9b9b;
							}
						}
						
						> .downloads,
						> .current-users {
							> svg {
								margin: 0 8px 0 6px;
								transform: scale(2.2);
							}
						}
						
						> .current-users {
							margin-right: -4px;
						}
						
						> .cards {
							margin-left: -4px;
							font-size: 24px;
							font-weight: 600;
							color: #9b9b9b;
						}
					}
					
					> button {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 45px;
						font-size: 20px;
						font-weight: bold;
						text-transform: uppercase;
						color: white;
						border-radius: 8px;
						transition: color 0.3s, background 0.3s;
						
						&.get {
							background: #4355f9;
							
							&:hover,
							&:focus {
								background: #00d388;
							}
						}
						
						&.open {
							background: #00d388;
							
							&:hover,
							&:focus {
								background: #051e34;
							}
						}
					}
				}
			}
			
			> .loader {
				margin-top: 30px - $cell-margin-bottom;
			}
		}
	}
}
