@import '../../mixins';

$divider-color: transparentize(#ddd, 0.8);

.dashboard > .sidebar {
	grid-area: sidebar;
	display: grid;
	grid:
		'top' auto
		'sections' 1fr
		'bottom' auto /
		auto;
	height: 100vh;
	background: #051e34;
	box-shadow: -4px 0 30px 0 transparentize(black, 0.1);
	z-index: 10;
	
	> .top,
	> .bottom {
		padding: 0 20px;
	}
	
	@mixin divider($height) {
		height: $height;
		background: $divider-color;
		border-radius: $height / 2;
	}
	
	> .top {
		grid-area: top;
		margin-bottom: 12px;
		
		> a {
			$left-margin: 12px;
			$vertical-margin: 15px;
			
			@include raise-on-hover;
			
			display: block;
			width: max-content;
			height: 41px;
			margin: $vertical-margin 0 $vertical-margin $left-margin;
			
			> picture > img {
				height: 100%;
			}
		}
		
		> .divider {
			@include divider(2px);
		}
		
		> .input {
			margin-top: 20px;
			
			&,
			> input {
				border-radius: 8px;
			}
			
			> input {
				$vertical-padding: 8px;
				
				padding-top: $vertical-padding;
				padding-bottom: $vertical-padding;
				color: white;
				background: transparentize(#f0f1f8, 0.9);
				border: none;
			}
			
			> svg {
				color: white;
			}
		}
	}
	
	> .sections {
		grid-area: sections;
		overflow-y: auto;
		
		> p {
			margin-top: 20px;
			text-align: center;
			color: white;
			font-weight: bold;
		}
		
		> div {
			margin-top: 16px;
			
			&:first-child {
				margin-top: 4px;
			}
			
			> p {
				margin: 0 20px 8px 20px;
				font-weight: bold;
				color: white;
			}
			
			> .decks > a {
				display: flex;
				align-items: center;
				padding: 8px 20px;
				transition: background 0.3s;
				
				> img,
				> .badge {
					flex-shrink: 0;
				}
				
				> img {
					$dimension: 50px;
					
					width: $dimension;
					height: $dimension;
					object-fit: cover;
					background: white;
					border-radius: 5px;
				}
				
				> .title {
					margin: 0 12px;
					color: white;
					opacity: 0.8;
					transition: color 0.3s, opacity 0.3s;
				}
				
				> .badge {
					$min-width: 35px;
					$height: 25px;
					$horizontal-padding: 8px;
					
					min-width: $min-width;
					height: $height;
					margin-left: auto;
					padding: 0 $horizontal-padding;
					text-align: center;
					font-weight: bold;
					line-height: $height;
					color: white;
					background: #00d388;
					border-radius: 4px;
				}
				
				&.selected {
					background: #582efe !important;
					
					> .title {
						font-weight: bold;
						opacity: 1;
					}
				}
				
				&:hover,
				&:focus {
					background: transparentize(#582efe, 0.5);
				}
				
				&:not(:last-child) {
					margin-bottom: 4px;
				}
			}
			
			> .divider {
				@include divider(2.5px);
				
				margin: 16px 20px 0 20px;
			}
			
			&:last-child {
				margin-bottom: 12px;
			}
		}
	}
	
	> .bottom {
		grid-area: bottom;
		cursor: initial;
		
		> .divider {
			@include divider(2.5px);
		}
		
		> .content {
			padding: 20px 0;
			
			> .stats {
				margin-bottom: 4px;
				
				> .level {
					font-weight: bold;
					color: white;
				}
				
				> .bullet,
				> .xp {
					color: #9b9b9b;
				}
				
				> .bullet {
					opacity: 0.7;
				}
			}
			
			> .level-container {
				display: flex;
				align-items: center;
				
				> .slider {
					width: 100%;
					margin-right: 20px;
					background: transparentize(white, 0.9);
					
					&,
					> div {
						height: 12px;
						border-radius: 6px;
					}
					
					> div {
						background: #00d388;
						transition: width 0.3s ease-in-out;
					}
				}
				
				> .level {
					white-space: nowrap;
					font-weight: bold;
					color: transparentize(white, 0.2);
				}
			}
		}
	}
}
