@use 'styles/colors';

.root {
	margin-top: 14px;
	padding-top: 14px;
	border-top: 1px solid #eee;
}

.header,
.input {
	max-width: 300px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

.label {
	font-weight: bold;
	color: colors.$dark-gray;
}

.submit {
	font-weight: bold;
	color: #007aff;
	transition: opacity 0.3s;

	&:disabled,
	&:hover {
		opacity: 0.5;
	}
}

.loader {
	margin-right: 8px;
}

.input {
	width: 100%;
	padding: 8px 10px;
	color: colors.$dark-gray;
	background: transparentize(#f0f1f8, 1 / 3);
	border-radius: 8px;
}
