@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

@mixin show-rate-message {
	justify-content: space-between;

	> .rate-message {
		display: block !important;
	}
}

@mixin hide-rate-message {
	justify-content: center;

	> .rate-message {
		display: none !important;
	}
}

@include dashboard-content('deck-page') {
	$margin: 30px;

	display: grid;
	grid:
		'header' auto
		'box' 1fr /
		calc(100vw - var(--sidebar-width));
	scroll-behavior: smooth;

	> .header {
		$horizontal-margin: 16px;
		$vertical-margin: 12px;

		grid-area: header;
		display: flex;
		align-items: center;
		margin: $vertical-margin var(--horizontal-padding);

		> .create {
			$dimension: 45px;

			display: flex;
			align-items: center;
			width: $dimension;
			height: $dimension;
			padding: 0 14px;
			color: white;
			border: 1.5px solid transparentize(#eee, 0.8);
			border-radius: 8px;

			> svg {
				opacity: 0.7;
				transform: scale(1.1);
				transition: opacity 0.3s;
			}

			&:hover,
			&:focus {
				> svg {
					opacity: 1;
				}
			}
		}

		> .search {
			width: 100%;
			margin: 0 $horizontal-margin;

			> input {
				padding: raw-repeat(3, 12px) 44px;
				color: white;
				background: transparentize(#eee, 0.8);
				border: none;
				border-radius: 100px;

				&::placeholder {
					color: transparentize(#eee, 0.2);
				}
			}

			> svg {
				top: 16px;
				left: 16px;
				color: #eee;
			}
		}
	}

	> .box {
		@include shadow-lg;

		grid-area: box;
		height: max-content;
		overflow: hidden;
		background: white;
		border-radius: 8px;
		margin: 0 var(--horizontal-padding) var(--horizontal-padding);
		padding-bottom: var(--inner-horizontal-padding);

		&.loading {
			display: grid;
			justify-content: center;
			align-content: center;
			height: auto;
		}

		> .header {
			$full-width: calc(
				100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 -
					var(--inner-horizontal-padding) * 2
			);

			--image-dimension: 180px;

			display: grid;
			grid:
				'image' var(--image-dimension)
				'content' auto
				'stats' auto /
				#{$full-width};
			margin: var(--inner-horizontal-padding) var(--inner-horizontal-padding) 0;
			width: 100%;

			@media (min-width: 705px) {
				$partial-width: calc(
					100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 -
						var(--inner-horizontal-padding) * 2 - var(--image-dimension)
				);

				--image-dimension: 220px;

				grid:
					'image content' var(--image-dimension)
					'stats stats' auto /
					var(--image-dimension) #{$partial-width};

				> .content {
					margin: 0 0 0 20px !important;

					> .buttons {
						margin: auto 0 12px 0 !important;
					}
				}
			}

			> img {
				grid-area: image;
				justify-self: center;
				width: var(--image-dimension);
				height: var(--image-dimension);
				object-fit: cover;
				background: white;
				border: 1px solid #eee;
				border-radius: 8px;
			}

			> .content {
				grid-area: content;
				display: flex;
				flex-direction: column;
				margin-top: 20px;

				> .name {
					@include line-limit(2);

					font-size: 24px;
					font-weight: 800;
					color: $dark-gray;
				}

				> .subtitle,
				> .creator {
					color: #9b9b9b;
				}

				> .subtitle {
					@include line-limit(1);

					margin-top: 6px;
					font-size: 20px;
					font-weight: 700;
				}

				> .creator {
					display: flex;
					align-items: center;
					margin: 10px 0 10px 6px;

					> svg {
						flex-shrink: 0;
						margin-right: 14px;
						transform: scale(2.2);
					}

					> p {
						font-weight: bold;

						&:first-of-type {
							@include overflow-ellipsis;

							font-size: 20px;
						}

						&:last-of-type {
							flex-shrink: 0;
							margin-left: 8px;
							font-size: 15px;
							color: #582efe;
						}
					}
				}

				> .buttons {
					display: flex;
					flex-direction: column;
					margin-top: 10px;

					@media (min-width: 465px) {
						flex-direction: row;
					}

					> .get,
					> .open,
					> .secondary > .contact {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 40px;
						padding: 0 30px;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: 900;
						color: white;
						border-radius: 8px;
						transition: padding 0.3s, color 0.3s, background 0.3s;
					}

					> .secondary {
						display: flex;
						margin: 16px 0 0;

						@media (min-width: 465px) {
							margin: 0 0 0 16px;
						}

						> .contact {
							margin-right: 16px;
							padding: 0 30px;
							background: #f85ea1;

							@media (min-width: 305px) {
								padding: 0 15px;
							}

							@media (min-width: 316px) {
								padding: 0 20px;
							}

							@media (min-width: 336px) {
								padding: 0 30px;
							}

							> svg {
								transform: scale(1.2);
							}

							> p {
								margin-left: 10px;

								@media (max-width: 305px) {
									display: none;
								}
							}

							&:hover,
							&:focus {
								background: #051e34;
							}
						}

						> .share {
							height: 40px;
							padding: 0 20px;
							border: 1.5px solid transparentize(#ddd, 0.2);
							border-radius: 8px;
							transition: background 0.3s, border-color 0.3s;

							> svg {
								fill: #4355f9;
								transform: scale(1.3) translate(-0.5px, 0.5px);
								transition: fill 0.3s;
							}

							&:hover {
								background: #051e34;
								border-color: #051e34;

								> svg {
									fill: white;
								}
							}
						}
					}

					> .get {
						background: #4355f9;

						&:hover,
						&:focus {
							background: #00d388;
						}
					}

					> .open {
						background: #00d388;

						&:hover,
						&:focus {
							background: #051e34;
						}
					}
				}
			}

			> .stats {
				--star-height: 30px;

				grid-area: stats;
				display: flex;
				align-items: center;
				max-width: 100%;
				overflow-x: auto;
				margin: 0 auto;
				padding-top: 25px;

				> * {
					flex-shrink: 0;
				}

				> .divider {
					width: 3px;
					height: 28px;
					margin: 0 20px;
					background: transparentize(#ddd, 0.5);
				}

				> .rating,
				> .downloads,
				> .current-users,
				> .cards,
				> .comments {
					transition: opacity 0.3s;

					&:hover {
						opacity: 0.5;
					}
				}

				> .rating,
				> .downloads,
				> .current-users,
				> .comments {
					display: flex;
					align-items: center;

					> p {
						margin-left: 8px;
						font-size: 24px;
						font-weight: 600;
						color: #9b9b9b;
					}
				}

				> .downloads,
				> .current-users {
					> svg {
						margin: 0 8px 0 6px;
						transform: scale(2.2);
					}
				}

				> .current-users {
					margin-right: -4px;
				}

				> .cards {
					margin-left: -4px;
					font-size: 24px;
					font-weight: 600;
					color: #9b9b9b;
				}

				> .comments {
					margin-left: 6px;

					> svg {
						color: #9b9b9b;
						transform: scale(1.5);
					}

					> p {
						margin-left: 15px;
						transform: translateY(-2px);
					}
				}
			}
		}

		> .preview {
			$max-width: 700px;

			max-width: calc(#{$max-width} + var(--inner-horizontal-padding) * 2);
			margin: calc(var(--inner-horizontal-padding) * 2) auto
				calc(var(--inner-horizontal-padding) * 3 / 2);
			padding: 0 var(--inner-horizontal-padding);

			> .header {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				> .section-select {
					max-width: 200px;
					width: 100%;
				}

				> .message {
					display: none;
					font-size: 14px;
					text-transform: uppercase;
					color: #9b9b9b;
					transform: translate(-8px, 4px);

					@media (min-width: 500px) {
						display: block;
					}
				}
			}

			> .box {
				$transition-duration: 150ms;

				position: relative;
				height: 400px;
				cursor: pointer;
				margin: 12px 0;
				background: white;
				box-shadow: 0 0 10px 0 transparentize(black, 0.9);
				border-radius: 8px;
				transition: opacity $transition-duration, transform $transition-duration;

				&.loading {
					display: grid;
					align-items: center;

					> .loader {
						margin: 0 auto;
					}
				}

				> .content-container {
					$padding: 20px;

					height: 100%;
					overflow-y: auto;
					padding: $padding;

					@include card-side-katex-width(
						css-min(
							$max-width - $padding * 2,
							calc(
								100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 -
									var(--inner-horizontal-padding) * 2 - #{$padding * 2}
							)
						)
					);

					> .card-side {
						min-height: 100%;
						height: unset;
					}
				}

				> .toggle {
					$inset: 20px;

					display: flex;
					position: absolute;
					align-items: flex-end;
					right: $inset;
					bottom: $inset;

					> .side {
						font-size: 14px;
						font-weight: bold;
						text-transform: uppercase;
						opacity: 0.5;
						transform: translateY(8px);
					}

					> .icon {
						$dimension: 18px;

						width: $dimension;
						height: $dimension;
						margin-left: 18px;
						padding: 3px;
						color: #4355f9;
						background: #eee;
						border-radius: 50%;
						transition: transform 0.3s ease-out;
					}
				}
			}

			> .footer {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				margin-top: 20px;

				> .left,
				> .right {
					flex-shrink: 0;
					transform: scale(2);

					&:disabled {
						opacity: 0.5;
					}

					> svg {
						fill: #9b9b9b;
						transition: fill 0.3s;
					}

					&:not(:disabled):hover > svg {
						fill: #4355f9;
					}
				}

				> .progress {
					max-width: 150px;
					width: 100%;
					margin: 0 40px;

					> .slider {
						$height: 12px;

						background: transparentize(#4355f9, 0.5);

						&,
						> div {
							height: $height;
							border-radius: $height / 2;
						}

						> div {
							min-width: $height;
							background: #4355f9;
							transition: width 0.3s;
						}
					}

					> p {
						margin-top: 4px;
						font-size: 18px;
						font-weight: bold;
						text-align: center;

						> span {
							opacity: 0.5;
						}
					}
				}
			}
		}

		> .footer {
			margin-top: 24px;

			> .description {
				max-width: 800px;
				margin: 0 $margin;
				font-size: 16px;
				color: #5c5c5c;
			}

			> .topics {
				display: flex;
				overflow-x: auto;
				margin-top: 20px;
				padding: 0 $margin;

				> a {
					$dimension: 90px;

					flex-shrink: 0;
					position: relative;
					overflow: hidden;
					width: $dimension;
					height: $dimension;
					background-size: cover;
					background-position: center;
					border-radius: 5px;

					> p {
						$padding: 8px;

						position: absolute;
						right: $padding / 2;
						bottom: $padding;
						left: $padding / 2;
						text-align: center;
						word-wrap: break-word;
						font-size: 12px;
						font-weight: bold;
						color: white;
					}

					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
		}

		> .controls {
			display: flex;
			flex-direction: column;
			margin: 24px var(--inner-horizontal-padding) 0;

			@media (min-width: 750px) {
				flex-direction: row;

				> div:not(:last-child) {
					margin: 0 16px 0 0 !important;
				}
			}

			> div {
				width: 100%;
				height: max-content;
				background: white;
				padding: 30px 20px;
				border: 1px solid #eee;
				border-radius: 8px;

				&.ratings {
					> .top {
						display: flex;
						flex-direction: column;
						align-content: center;

						@media (min-width: 850px) {
							flex-direction: row;

							> .sliders {
								margin: 0 0 0 $margin !important;
							}
						}

						> .left {
							flex-shrink: 0;
							margin-bottom: -16px;

							> .info {
								display: flex;
								align-items: flex-end;

								> .rating,
								> .count > span {
									color: $dark-gray;
								}

								> .rating {
									font-size: 45px;
								}

								> .count {
									margin: 0 0 10px 12px;
									font-weight: bold;
									color: #9b9b9b;
								}
							}
						}

						> .sliders {
							flex-grow: 1;
							margin-top: $margin;
							border-collapse: separate;
							border-spacing: 6px 0;

							@media (min-width: 1350px) {
								margin-left: $margin * 2 !important;
							}

							> tbody > tr {
								> .star,
								> .count {
									font-size: 18px;
								}

								> .star {
									color: #9b9b9b;
								}

								> .icon {
									transform: scale(1.5);
								}

								> .slider {
									width: 100%;
									padding: 0 4px 0 6px;

									> div {
										$height: 4px;

										width: 100%;
										background: transparentize(#4355f9, 0.7);

										&,
										> div {
											height: $height;
											border-radius: $height / 2;
										}

										> div {
											background: #4355f9;
											transition: width 0.3s;
										}
									}
								}

								> .count {
									text-align: right;
									color: $dark-gray;
								}
							}
						}
					}

					> .divider {
						$height: 2px;

						height: $height;
						margin: $margin 0;
						background: transparentize(#ddd, 0.5);
						border-radius: $height / 2;
					}

					> .bottom {
						display: flex;
						justify-content: center;
						align-items: center;

						@media (min-width: 530px) {
							@include show-rate-message;
						}

						@media (min-width: 750px) {
							@include hide-rate-message;
						}

						@media (min-width: 970px) {
							@include show-rate-message;
						}

						@media (min-width: 1150px) {
							@include hide-rate-message;
						}

						@media (min-width: 1275px) {
							@include show-rate-message;
						}

						> * {
							flex-shrink: 0;
						}

						> .rate-message {
							display: none;
							font-size: 20px;
							font-weight: bold;
							color: #9b9b9b;
						}

						> .stars {
							margin-left: 12px;

							> svg {
								cursor: pointer;
								color: #00d388;
								transform: scale(2);
								transition: opacity 0.3s;

								@media (min-width: 400px) {
									margin-top: 20px;
									transform: scale(2.5) translateY(-4px);

									&:not(:last-child) {
										margin-right: 30px !important;
									}
								}

								&:hover {
									opacity: 0.5;
								}

								&:last-child {
									margin-right: 12px;
								}

								&:not(:last-child) {
									margin-right: 20px;
								}
							}
						}
					}
				}

				&.info {
					display: flex;
					flex-direction: column;

					> div {
						display: flex;
						justify-content: space-between;
						align-items: center;
						overflow-x: auto;
						font-size: 18px;
						font-weight: bold;

						> * {
							flex-shrink: 0;
						}

						> :first-child {
							margin-right: 12px;
							color: #9b9b9b;
						}

						> :last-child {
							color: $dark-gray;
						}

						&:not(:last-child) {
							padding-bottom: 20px;
						}
					}
				}

				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}

		> .similar-decks {
			margin: 32px 0 16px;

			> .title {
				margin: 0 var(--inner-horizontal-padding);
				font-size: 20px;
				font-weight: bold;
				color: $dark-gray;

				@media (min-width: 425px) {
					font-size: 24px;
				}

				> span {
					display: none;
					color: #582efe;

					@media (min-width: 365px) {
						display: initial;
					}
				}
			}

			> .rows {
				$margin-top: 12px;
				$padding-top: 4px;

				overflow-x: auto;
				margin-top: $margin-top - $padding-top;
				padding: $padding-top var(--inner-horizontal-padding) 16px;

				> div {
					display: flex;

					> .deck-cell {
						flex-shrink: 0;

						&:not(:last-child) {
							margin-right: 12px;
						}
					}

					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}
			}
		}

		> .cards {
			margin: 0 var(--inner-horizontal-padding);

			> .title {
				font-size: 24px;
				font-weight: bold;
				color: $dark-gray;

				> span {
					color: #582efe;
				}
			}

			> .sections {
				margin-top: 20px;

				> div {
					&,
					> .cards > .card-cell {
						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}

					> .cards,
					> .loader {
						margin-top: 12px;
					}

					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}
			}
		}

		@include disqus {
			margin: $margin var(--inner-horizontal-padding) 0;
		}
	}
}
