@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

@mixin static-header-after($screen-width) {
	@media (min-width: $screen-width) {
		overflow: visible;

		> .name {
			flex-shrink: 1 !important;
			max-width: none !important;
		}
	}
}

@include dashboard-content('decks') {
	display: grid;
	grid:
		'header' auto
		'content' 1fr /
		calc(100vw - var(--sidebar-width));
	overflow: visible;

	> .header,
	> .content {
		padding: 0 var(--horizontal-padding);
	}

	> .header {
		grid-area: header;
		display: flex;
		align-items: center;
		overflow-x: auto;
		margin: 12px 0;

		&.owned {
			@include static-header-after(770px);
		}

		&:not(.owned) {
			@include static-header-after(580px);
		}

		> img {
			width: 70px;
			height: 40px;
			object-fit: cover;
			border-radius: 8px;
			background: white;
		}

		> .name {
			@include overflow-ellipsis;

			flex-shrink: 0;
			max-width: 400px;
			height: 50px;
			margin: 0 auto 0 12px;
			font-weight: 900;
			color: white;
		}

		> .create-section,
		> .review-button,
		> .cram-button,
		> .share,
		> .options {
			flex-shrink: 0;
		}

		> .review-button,
		> .cram-button {
			display: flex;
			align-items: center;
			height: 40px;
			margin-left: 12px;
			padding: 0 12px;
			font-weight: 900;
			text-transform: uppercase;
			background: #051e34;
			border-radius: 8px;
			transition: color 0.3s, opacity 0.3s;

			> svg {
				display: none;
				margin-left: 10px;

				@media (min-width: 650px) {
					display: initial;
				}
			}

			&::before,
			&::after {
				text-transform: none;
			}

			&.disabled {
				pointer-events: none;
				cursor: not-allowed;
				opacity: 0.5;
			}

			&:not(.disabled):hover {
				color: white;

				> svg {
					animation: decks-header-cards-spin 0.3s ease-out;
				}
			}

			@keyframes decks-header-cards-spin {
				to {
					transform: rotate(1turn);
				}
			}
		}

		> .review-button {
			color: #00d388;
		}

		> .cram-button {
			color: #f85ea1;
		}

		> .create-section {
			height: 40px;
			margin-left: 12px;
			padding: 0 12px;
			font-weight: 900;
			text-transform: uppercase;
			color: #582efe;
			background: white;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s;

			&:hover {
				color: white;
				background: #051e34;
			}
		}

		> .share,
		> .options > .trigger {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border: 2px solid transparentize(#eee, 0.8376);
			border-radius: 8px;
			transition: background 0.3s, border-color 0.3s, opacity 0.3s;

			&:hover {
				background: #051e34;
				border-color: #051e34;
			}
		}

		> .share {
			margin-left: 12px;

			> svg {
				fill: white;
				transform: scale(1.15) translateX(-1px);
			}
		}

		> .options {
			margin-left: 12px;

			> .trigger > svg {
				color: white;
				transform: scale(1.3);
			}

			> .content {
				padding: 20px;
				background: white;
				border-radius: 8px;

				> button,
				> a {
					display: flex;
					align-items: center;
					transition: opacity 0.3s;

					> svg {
						color: #4355f9;

						&.destructive {
							color: #e53e3e;
						}

						&.star {
							margin-right: 12px;
							transform: scale(1.5);
						}

						&.print {
							margin: 0 12px 0 2px;
							transform: scale(1.4);
						}

						&.cart {
							margin-right: 10px;
							fill: #4355f9;
							transform: scale(1.2);
						}

						&.edit {
							margin-right: 6px;
							transform: scale(1.1);
						}

						&.remove {
							margin: 0 16px 0 6px;
							transform: scale(1.7);
						}

						&.delete {
							margin: 0 14px 0 4px;
							transform: scale(1.3);
						}
					}

					> p {
						white-space: nowrap;
						font-size: 18px;
						font-weight: bold;
						color: $dark-gray;
					}

					&:hover {
						opacity: 0.5;
					}

					&:not(:last-child) {
						margin-bottom: 24px;
					}
				}

				> .divider {
					$height: 2px;

					width: 100%;
					height: $height;
					margin-bottom: 24px;
					background: #ddd;
					border-radius: $height / 2;
				}
			}
		}

		&.loading {
			> .create-section,
			> .share,
			> .options > .trigger {
				pointer-events: none;
				opacity: 0.5;
			}
		}
	}

	> .content {
		grid-area: content;
		display: grid;
		grid: 1fr / auto;
		overflow-y: auto;
		scroll-behavior: smooth;

		> .box {
			@include shadow-lg;

			width: calc(100vw - var(--sidebar-width) - var(--horizontal-padding) * 2);
			height: max-content;
			margin-bottom: var(--horizontal-padding);
			padding: var(--inner-horizontal-padding);
			background: white;
			border-radius: 8px;

			&.loading {
				display: grid;
				justify-content: center;
				align-content: center;
				height: auto;
			}

			> .section {
				> .add-cards-container {
					display: flex;
					justify-content: center;
					margin-top: 12px;

					> a {
						display: flex;
						align-items: center;
						padding: 8px 14px;
						color: white;
						background: #582efe;
						border-radius: 8px;
						transition: background 0.3s;

						> svg {
							margin-right: 10px;
							transform: scale(1.2);
						}

						> p {
							font-weight: 900;
						}

						&:hover {
							background: #051e34;
						}
					}
				}

				> .cards {
					margin-top: 20px;

					> .card-cell:not(:last-child) {
						margin-bottom: 16px;
					}
				}

				> .loader {
					margin: 12px auto;
				}

				&:not(:last-child) {
					margin-bottom: 12px;

					> .cards {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
