@use '../variables' as *;
@use '../mixins' as *;

@include dashboard-content('home') {
	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 16px var(--horizontal-padding) 0;

		> .left {
			overflow: hidden;
			color: white;

			> .title,
			> .subtitle {
				@include overflow-ellipsis;
			}

			> .title {
				font-weight: 900;
			}

			> .subtitle {
				opacity: 0.7;
			}

			> .review-button {
				display: inline-block;
				margin-top: 16px;
				padding: 8px 16px;
				font-weight: 900;
				text-transform: uppercase;
				color: #582efe;
				background: white;
				border-radius: 8px;
				transition: color 0.3s, background 0.3s;

				&:hover {
					color: white;
					background: #051e34;
				}
			}
		}

		> .create-deck-link {
			flex-shrink: 0;
			display: none;
			align-items: center;
			margin-left: 24px;
			padding: 10px 16px;
			color: #582efe;
			background: white;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s;

			@media (min-width: 450px) {
				display: flex;
			}

			> svg {
				margin-right: 10px;
			}

			> span {
				font-weight: 900;
				text-transform: uppercase;
			}

			&:hover {
				color: white;
				background: #051e34;
			}
		}
	}

	> .activity-container,
	> .my-decks,
	> .recommended-decks {
		> h1 {
			display: inline-block;
			margin: 0 var(--horizontal-padding);
			font-weight: 900;
		}
	}

	> .activity-container {
		margin: 30px 0;

		> h1 {
			color: white;
		}

		> .activity {
			margin: 8px var(--horizontal-padding) 0;
		}
	}

	> .my-decks,
	> .recommended-decks {
		> h1 {
			padding: 4px 12px;
			font-size: 25px;
			color: #4a4a4a;
			background: transparentize(white, 0.7);
			border-radius: 5px;
		}

		> .decks {
			overflow-x: auto;
			margin: 12px 0 15px;
			padding: 5px var(--horizontal-padding) 15px;

			> div {
				display: flex;

				> .deck-cell {
					flex-shrink: 0;

					&:not(:last-of-type) {
						margin-right: 12px;
					}
				}

				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
	}

	> .my-decks {
		margin-top: 20px;
	}

	> .recommended-decks {
		margin-top: 16px;
	}
}
