@use '~balloon-css/src/balloon';

@use '../variables' as *;
@use '../mixins' as *;

.dashboard {
	--sidebar-width: 305px;
	--horizontal-padding: 8px;
	--inner-horizontal-padding: 16px;
	
	display: grid;
	grid:
		'sidebar content' auto /
		var(--sidebar-width) auto;
	height: 100vh;
	
	@media (min-width: 450px) {
		--horizontal-padding: 30px;
		--inner-horizontal-padding: 30px;
	}
	
	> .content {
		@include stack;
		
		grid-area: content;
		
		> .background {
			height: 500px;
			
			&.blue-gradient {
				@include top-gradient(6deg, $is-right: false);
			}
			
			&.green-gradient {
				@include top-gradient(
					6deg,
					$is-right: false,
					$top-color: #06ba7a,
					$bottom-color: #73d63f
				);
			}
		}
		
		> .container {
			--navbar-height: #{$dashboard-navbar-height};
			
			display: grid;
			grid:
				'navbar' var(--navbar-height)
				'foreground' 1fr /
				auto;
			height: 100vh;
			z-index: 10;
			
			&.navbar-hidden {
				--navbar-height: 0;
				
				> .dashboard-navbar {
					display: none;
				}
			}
			
			> .foreground {
				grid-area: foreground;
				height: calc(100vh - var(--navbar-height));
				overflow-y: auto;
			}
		}
	}
}
