@use '../variables' as *;
@use '../mixins' as *;

@include dashboard-content('publish-deck') {
	display: grid;
	grid:
		'header' auto
		'content' 1fr /
		calc(100vw - var(--sidebar-width));

	> .header,
	> .content {
		padding: 0 var(--horizontal-padding);
	}

	> .header {
		grid-area: header;
		display: flex;
		align-items: center;
		margin: 12px 4px;

		> :not(h1) {
			flex-shrink: 0;
		}

		> h1 {
			@include overflow-ellipsis;

			margin-right: auto;
			font-weight: 900;
			color: white;
		}

		> button {
			height: 42px;
			margin-left: 12px;
			padding: 0 12px;
			font-size: 17px;
			font-weight: 900;
			color: #582efe;
			background: white;
			text-transform: uppercase;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s, opacity 0.3s;

			&.disabled {
				opacity: 0.8;
			}

			&:not(.disabled):not(.loading) {
				&:hover,
				&:focus {
					color: white;
					background: #051e34;
				}
			}
		}
	}

	> .content {
		grid-area: content;
		overflow-y: auto;
		padding-bottom: var(--horizontal-padding);

		> .box {
			@include shadow-lg;

			padding: var(--inner-horizontal-padding);
			background: white;
			border-radius: 8px;
		}
	}
}
