.back-button {
	display: flex;
	align-items: center;
	width: max-content;
	padding: 6px 14px;
	color: white;
	border: 1.5px solid transparentize(#eee, 0.8376);
	border-radius: 5px;
	
	> svg {
		margin-right: 12px;
		opacity: 0.8;
		transform: scale(1.2);
		transition: opacity 0.3s;
	}
	
	> p {
		font-size: larger;
		font-weight: bold;
	}
	
	&:hover,
	&:focus {
		> svg {
			opacity: 1;
		}
	}
}
