@import '../variables';
@import '../mixins';

.dropdown {
	position: relative;
	
	> .content {
		position: absolute;
		pointer-events: none;
		transform: translateX(-20px);
		opacity: 0;
		z-index: $dropdown-z-index;
		transition: transform 0.2s, opacity 0.2s;
		
		&:not(.right-aligned) {
			left: 0;
		}
		
		&.right-aligned {
			right: 0;
		}
		
		&.shadow-around {
			border: 1px solid #eee;
			box-shadow: 0 0 10px 2px transparentize(black, 0.9);
		}
		
		&.shadow-screen {
			box-shadow: 0 0 0 100vmax transparentize(black, 0.7);
		}
	}
	
	&.showing > .trigger {
		cursor: default;
	}
	
	&.showing > .content {
		pointer-events: all;
		transform: none;
		opacity: 1;
	}
}
