@use 'styles/variables' as *;

$margin: 20px;

.root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 800px;
	overflow: hidden;
	margin: $margin;
	background: white;
	border-radius: 8px;
}

.top {
	padding: 20px 30px;
	color: white;
	background: linear-gradient(10deg, #5a2aff, #00e5f4);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 30px;
	font-weight: 900;
}

.hide {
	margin: 0 8px;
	transform: scale(2);
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.message {
	margin-top: 6px;
	font-weight: bold;

	> b {
		font-weight: 900;
	}
}

.form {
	padding: 30px;
}

.textContainer {
	display: flex;
	align-items: center;
	max-width: max-content;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 30px;
	background: transparentize(#f0f1f8, 0.32);
	border-radius: 100px;
}

.icon {
	margin-right: 12px;
	color: #5a2aff;
	transform: scale(1.2);
}

.text {
	overflow-x: auto;
	white-space: nowrap;
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
	font-weight: bold;
	padding: 12px 0;
	color: $dark-gray;
	transform: translateY(1px);
}

.copy {
	display: block;
	width: 110px;
	margin: 20px auto 0;
	padding: 8px 0;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background: #5a2aff;
	border-radius: 100px;
	transition: width 0.3s, background 0.3s;

	&:hover,
	&:focus {
		background: #051e34;
	}
}

.copied {
	width: 134px;

	&:not(:hover) {
		background: #00d388;
	}
}
