@use 'styles/colors';

.root {
	margin-top: 16px;
	color: colors.$dark-gray;
}

.title {
	font-weight: 900;
}

.description {
	margin-top: 4px;
}

.action {
	font-weight: bold;
	color: #007aff;

	&:hover {
		text-decoration: underline;
	}
}
