@use 'styles/colors';
@use 'styles/shadow';
@use 'styles/dashboard';

$padding: 20px;

@include dashboard.sidebar-collapse(1200px);

.container {
	scroll-behavior: smooth;
	padding: 0 var(--horizontal-padding) var(--horizontal-padding);
}

.titleIcon {
	margin-right: 12px;
}

.title {
	margin: 12px 0 16px;
	font-weight: 900;
	color: white;
}

.content {
	@include shadow.large;

	display: grid;
	grid: 1fr / 200px 1fr;
	overflow: hidden;
	padding: $padding;
	background: white;
	border-radius: 8px;
}

.main {
	margin-left: $padding;
	padding-left: $padding;
	border-left: 1px solid #eee;
}

.name {
	font-weight: 900;
	color: colors.$dark-gray;
}
