@use 'styles/dashboard';

@include dashboard.sidebar-collapse(980px);

.content {
	display: flex;
	flex-direction: column;
	height: 100vh !important;
	overflow: hidden;
	padding: 0 var(--horizontal-padding);
}
