@use 'styles/raw';
@use 'styles/colors';
@use 'styles/text';

$max-width: 1200px;
$height: 300px;
$image-margin: 16px;
$image-dimension: calc(var(--image-dimension) + #{$image-margin});
$full-width: calc(100vw - var(--sidebar-width) - var(--horizontal-padding) * 2);

.root {
	--image-dimension: 150px;

	display: grid;
	grid:
		'image' auto
		'content' auto
		'footer' auto /
		#{raw.min($max-width, $full-width)};
	overflow: hidden;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;
	transition: transform 0.3s;

	@media (min-width: 700px) {
		$full-width: calc(
			100vw - var(--sidebar-width) - var(--image-dimension) -
				var(--horizontal-padding) * 2 + #{$image-margin}
		);

		grid:
			'image content' #{$image-dimension}
			'footer footer' auto /
			#{$image-dimension} #{$full-width};
	}

	@media (min-width: 1300px) {
		$full-width: calc(
			100vw - var(--sidebar-width) - var(--horizontal-padding) * 2 - #{$height}
		);

		--image-dimension: #{$height - $image-margin * 2};

		grid:
			'image content' auto
			'image footer' 1fr /
			#{$height}
			#{raw.min($max-width, $full-width)};
	}

	&:hover,
	&:focus {
		transform: translateY(-2px);
	}

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

.image {
	$dimension: var(--image-dimension);

	grid-area: image;
	width: $dimension;
	height: $dimension;
	margin: $image-margin auto 0 auto;
	object-fit: cover;
	background: white;
	border: 1px solid #eee;
	border-radius: 8px;

	@media (min-width: 700px) {
		margin: $image-margin 0 0 $image-margin;
	}

	@media (min-width: 1300px) {
		margin: $image-margin;
	}
}

.content,
.footer {
	@media (min-width: 1300px) {
		padding-left: 0 !important;
	}
}

.content {
	grid-area: content;
	padding: 16px 16px 0 16px;
}

.name {
	@include text.line-limit(2);

	font-size: 25px;
	font-weight: 800;
	color: colors.$dark-gray;

	@media (min-width: 1300px) {
		font-size: 26px;
	}
}

.subtitle {
	@include text.overflow-ellipsis;

	margin-top: 4px;
	font-size: 20px;
	font-weight: 700;
	color: #9b9b9b;

	@media (min-width: 1300px) {
		font-size: 24px;
	}
}

.creator {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px 0 10px 6px;
	color: #9b9b9b;
}

.creatorIcon {
	flex-shrink: 0;
	margin-right: 14px;
	transform: scale(2.2);
}

.creatorName {
	@include text.overflow-ellipsis;

	font-size: 20px;
	font-weight: bold;
}

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 16px;

	@media (min-width: 1300px) {
		padding-top: 10px;
	}
}

.stats {
	--star-height: 30px;

	display: none;
	align-items: center;
	overflow-x: auto;
	margin: auto 0 18px 0;

	@media (min-width: 700px) {
		display: flex;
	}
}

.divider,
.rating,
.downloads,
.users,
.cards {
	flex-shrink: 0;
}

.divider {
	width: 3px;
	height: 28px;
	margin: 0 20px;
	background: transparentize(#ddd, 0.5);
}

.rating,
.downloads,
.users {
	display: flex;
	align-items: center;
}

.statText {
	margin-left: 8px;
	font-size: 24px;
	font-weight: 600;
	color: #9b9b9b;
}

.statIcon {
	margin: 0 8px 0 6px;
	transform: scale(2.2);
}

.users {
	margin-right: -4px;
}

.cards {
	margin-left: -4px;
	font-size: 24px;
	font-weight: 600;
	color: #9b9b9b;
}

.get,
.open {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;
}

.get {
	background: #4355f9;

	&:hover,
	&:focus {
		background: #00d388;
	}
}

.open {
	background: #00d388;

	&:hover,
	&:focus {
		background: #051e34;
	}
}
