@use 'styles/z-index';

.root {
	position: relative;

	&::before {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: z-index.$dropdown;
	}
}

.showing::before {
	content: '';
}

.content {
	position: absolute;
	pointer-events: none;
	top: 100%;
	left: 0;
	margin-top: 8px;
	transform: translateX(-20px);
	opacity: 0;
	z-index: z-index.$dropdown;
	transition: transform 0.2s, opacity 0.2s;

	&[aria-hidden='false'] {
		pointer-events: all;
		transform: none;
		opacity: 1;
	}
}

.right {
	left: unset;
	right: 0;
}

.shadow_around {
	border: 1px solid #eee;
	box-shadow: 0 0 10px 2px transparentize(black, 0.9);
}

.shadow_screen {
	box-shadow: 0 0 0 100vmax transparentize(black, 0.7);
}
