$padding: 16px;
$footer-offset: 40px;

.root {
	display: grid;
	grid-template-rows: 1fr auto;
	padding: $padding;
	cursor: pointer;
}

.waitingForRating {
	cursor: default;
	
	.waitForRating {
		opacity: 0;
		transform: translateY($footer-offset);
	}
	
	.rateButtons {
		opacity: 1;
		transform: none;
	}
}

.cards {
	position: relative;
	margin-bottom: $padding * 2;
}

.card {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px transparentize(black, 0.9);
}

@for $i from 1 through 2 {
	.backgroundCard_#{$i} {
		left: $i * $padding;
		right: $i * $padding;
		z-index: -$i;
		transform: translateY($i * $padding);
	}
}

.footer {
	display: grid;
	justify-items: center;
	align-items: center;
	margin-top: $padding;
}

.waitForRating,
.rateButtons {
	grid-row: 1;
	grid-column: 1;
	transition: opacity 0.3s, transform 0.3s;
}

.waitForRating {
	text-align: center;
	font-weight: 900;
	color: #4a4a4a;
}

.rateButtons {
	opacity: 0;
	transform: translateY($footer-offset);
}
