$padding: 16px;

.root {
	display: grid;
	grid-template-rows: 1fr auto;
	padding: $padding;
}

.cards {
	position: relative;
	margin-bottom: $padding * 2;
}

.card {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px transparentize(black, 0.9);
}

.backgroundCard {
	@for $i from 1 through 2 {
		&_#{$i} {
			left: $i * $padding;
			right: $i * $padding;
			z-index: -$i;
			transform: translateY($i * $padding);
		}
	}
}
