$horizontal-padding: 135px;

.root {
	display: flex;
	padding-top: 43px;

	@media (min-width: 500px) {
		padding-top: 53px;
	}

	@media (min-width: 600px) {
		padding-top: 63px;
	}

	@media (min-width: 1020px) {
		padding-top: 73px;
	}
}

.article {
	display: flex;
	flex-direction: column;
	color: white;

	@media (min-width: 430px) {
		flex-shrink: 0;
		max-width: 350px;
	}

	@media (min-width: 500px) {
		max-width: 400px;
	}

	@media (min-width: 830px) {
		max-width: 300px;
	}

	@media (min-width: 900px) {
		max-width: 346px;
	}

	@media (min-width: 1300px) {
		max-width: 400px;
	}

	@media (min-width: 1480px) {
		max-width: 454px;
	}
}

.title {
	font-size: 28px;
	font-weight: 900;
	line-height: 34px;

	@media (min-width: 375px) {
		font-size: 32px;
		line-height: 38px;
	}

	@media (min-width: 430px) {
		font-size: 38px;
		line-height: 44px;
	}

	@media (min-width: 500px) {
		font-size: 44px;
		line-height: 50px;
	}

	@media (min-width: 830px) {
		font-size: 31px;
		line-height: 37px;
	}

	@media (min-width: 900px) {
		font-size: 38px;
		line-height: 44px;
	}

	@media (min-width: 1300px) {
		font-size: 44px;
		line-height: 50px;
	}

	@media (min-width: 1480px) {
		font-size: 50px;
		line-height: 56px;
	}
}

.subtitle {
	margin-top: 24px;
	font-size: 15px;
	line-height: 21px;

	@media (min-width: 370px) {
		font-size: 16px;
		line-height: 22px;
	}

	@media (min-width: 405px) {
		font-size: 18px;
		line-height: 24px;
	}

	@media (min-width: 500px) {
		font-size: 20px;
		line-height: 26px;
	}

	@media (min-width: 830px) {
		font-size: 16px;
		line-height: 22px;
	}

	@media (min-width: 900px) {
		font-size: 18px;
		line-height: 24px;
	}

	@media (min-width: 1300px) {
		font-size: 20px;
		line-height: 26px;
	}

	@media (min-width: 1480px) {
		font-size: 24px;
		line-height: 30px;
	}
}

.footer {
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
}

.auth .download {
	flex-shrink: 0;
}

.auth {
	margin-right: 16px;
}

.download {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding: 8px 10px;
	color: white;
	background: transparentize(white, 0.85);
	border-radius: 8px;
	transition: background 0.3s;

	&:hover,
	&:focus {
		background: transparentize(white, 0.75);
	}
}

.downloadIcon {
	margin: 0 12px 0 4px;
	transform: scale(1.5) translateY(-0.5px);
}

.downloadText {
	font-weight: 900;
}

.root > picture {
	$translate: translate(var(--x-translate), var(--y-translate));

	--x-translate: 12px;
	--y-translate: -10px;

	display: none;
	max-width: 1000px;
	margin-left: 30px;
	transform: $translate;
	transition: transform 0.3s;

	@media (min-width: 830px) {
		display: block;
	}

	@media (min-width: 920px) {
		--y-translate: -20px;
	}

	@media (min-width: 940px) {
		--y-translate: -20px;
	}

	@media (min-width: 1020px) {
		--y-translate: -30px;
	}

	@media (min-width: 1100px) {
		--x-translate: 20px;
	}

	@media (min-width: 1250px) {
		--x-translate: 20px;

		margin-left: 40px;
		transform: $translate scale(1.05);
	}

	@media (min-width: 1480px) {
		transform: $translate;
	}

	@media (min-width: 1550px) {
		margin-left: 60px;
	}

	@media (min-width: 1580px) {
		margin-left: 80px;
	}

	@media (min-width: 1800px) {
		--x-translate: #{$horizontal-padding / 2};

		margin: 0 auto;
	}

	&:hover,
	&:focus {
		transform: $translate scale(1.05);

		@media (min-width: 1250px) {
			transform: $translate scale(1.1);
		}

		@media (min-width: 1480px) {
			transform: $translate scale(1.05);
		}
	}
}
