@use 'styles/colors';

.root {
	$bottom-border-width: 2px;

	display: grid;
	grid: 1fr / 1fr auto;
	margin: 0 var(--horizontal-padding);
	border-bottom: $bottom-border-width solid transparentize(#ddd, 0.8);
}

.tabs {
	display: flex;
	align-items: flex-end;
	overflow-x: auto;
}

.right {
	display: flex;
	align-items: center;
	margin-bottom: -6px;
}

.download {
	margin: 0 20px;

	&:hover .downloadIcon {
		opacity: 0.5;
	}
}

.downloadIcon {
	color: white;
	transform: scale(2.7);
	transition: opacity 0.3s;
}

.profile,
.auth {
	margin: 0 10px;
}

.customProfileTrigger {
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.profileTriggerImage {
	$dimension: 42px;

	width: $dimension;
	height: $dimension;
	object-fit: cover;
	border-radius: 50%;
}

.resetProfileTrigger {
	padding: 10px;
	background: white;
	border-radius: 50%;
	transition: background 0.3s;

	&:hover {
		background: #051e34;

		.profileTriggerIcon {
			fill: white;
		}
	}
}

.profileTriggerIcon {
	fill: #582efe;
	transition: fill 0.3s;
}

.profileContent,
.settings,
.name,
.forgotPassword,
.signOut {
	border-radius: 4px;
}

.profileContent {
	width: 400px;
	padding: 20px;
	background: white;
}

.profileLink {
	display: flex;
	align-items: center;
	max-width: max-content;
	font-weight: 900;
	color: #007aff;

	&:hover {
		text-decoration: underline;

		.profileLinkIcon {
			transform: translateX(4px);
		}
	}
}

.profileLinkImage,
.profileLinkDefaultImage {
	$dimension: 25px;

	width: $dimension;
	height: $dimension;
	margin-right: 8px;
	border-radius: 50%;
}

.profileLinkImage {
	object-fit: cover;
}

.profileLinkDefaultImage {
	padding: 2px;
	fill: #007aff;
	border: 1px solid #eee;
}

.profileLinkIcon {
	margin-left: 4px;
	transition: transform 0.3s;
}

.settings,
.forgotPassword,
.signOut {
	width: 100%;
}

.settings,
.forgotPassword {
	border: 1px solid #ddd;
}

.settings {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	padding: 20px 16px;
}

.label {
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #9b9b9b;

	&:not(:first-child) {
		margin-top: 14px;
	}
}

.name,
.email {
	color: colors.$dark-gray;
}

.name {
	padding: 8px 10px;
	background: transparentize(#f0f1f8, 1 / 3);
}

.email {
	margin-top: -4px;
	font-size: 17px;
}

.forgotPassword,
.signOut {
	height: 40px;
	margin-top: 12px;
	font-weight: bold;
}

.forgotPassword {
	color: #4355f9;
	transition: color 0.3s, background 0.3s, border 0.3s;

	&:hover,
	&:focus {
		color: white;
		background: #051e34;
		border: none;
	}
}

.signOut {
	color: white;
	background: #f55d23;
	transition: background 0.3s;

	&:hover,
	&:hover {
		background: #051e34;
	}
}

.footerLabel {
	display: block;
	margin-top: 16px;
	font-weight: 900;
	color: colors.$dark-gray;
}

.footerInfo {
	margin-top: 2px;
	color: colors.$dark-gray;
}

.footerAction {
	vertical-align: initial;
	font-weight: bold;
	color: #007aff;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.5;
	}
}

.auth {
	margin-right: 14px;
	padding: 8px 14px;
	font-size: larger;
	font-weight: 900;
	color: white;
	background: #051e34;
	border-radius: 8px;
	white-space: nowrap;
	transition: color 0.3s, background 0.3s;

	&:hover,
	&:focus {
		color: #051e34;
		background: white;
	}
}

.authText {
	display: none;

	@media (min-width: 600px) {
		display: initial;
	}
}

.authSlash {
	opacity: 0.7;
}

.authIcon {
	@media (min-width: 600px) {
		display: none;
	}
}
