.root {
	$bottom-border-width: 2px;

	display: grid;
	grid: 1fr / 1fr auto;
	margin: 0 var(--horizontal-padding);
	border-bottom: $bottom-border-width solid transparentize(#ddd, 0.8);
}

.tabs {
	display: flex;
	align-items: flex-end;
	overflow-x: auto;
}

.right {
	display: flex;
	align-items: center;
	margin-bottom: -6px;
}

.download {
	margin: 0 20px;

	&:hover .downloadIcon {
		opacity: 0.5;
	}
}

.downloadIcon {
	color: white;
	transform: scale(2.7);
	transition: opacity 0.3s;
}

.auth {
	margin: 0 10px;
}

.auth {
	margin-right: 14px;
	padding: 8px 14px;
	font-size: larger;
	font-weight: 900;
	color: white;
	background: #051e34;
	border-radius: 8px;
	white-space: nowrap;
	transition: color 0.3s, background 0.3s;

	&:hover,
	&:focus {
		color: #051e34;
		background: white;
	}
}

.authText {
	display: none;

	@media (min-width: 600px) {
		display: initial;
	}
}

.authSlash {
	opacity: 0.7;
}

.authIcon {
	@media (min-width: 600px) {
		display: none;
	}
}
