rules_version = '2'

service firebase.storage {
	match /b/{bucket}/o {
		match /topics/{topic} {
			allow read
		}
		
		match /decks/{deck} {
			allow read
			allow create, update: if signedInWith(metadata().owner)
		}
		
		match /deck-assets/{deck}/{asset} {
			allow read
		}
		
		function signedIn() {
			return request.auth != null
		}
		
		function signedInWith(uid) {
			return signedIn() && request.auth.uid == uid
		}
		
		function metadata() {
			return request.resource.metadata
		}
	}
}
