@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

@include modal-content('confirmation') {
	$margin: 8px;
	
	margin: $margin;
	background: white;
	border-radius: 8px;
	
	> .header {
		display: grid;
		position: relative;
		justify-content: center;
		align-content: center;
		height: 100px;
		
		> .title {
			font-size: 26px;
			text-align: center;
		}
		
		> .hide {
			$inset: 16px;
			
			position: absolute;
			top: $inset;
			right: $inset;
			color: #4355f9;
			transform: scale(1.4);
			transition: opacity 0.3s;
			
			&:hover {
				opacity: 0.5;
			}
		}
	}
	
	> .content {
		$height: 50px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 0 raw-repeat(3, 30px);
		border-radius: 8px;
		
		> p,
		> button {
			height: $height;
		}
		
		> p {
			flex-grow: 1;
			padding: 0 20px;
			line-height: $height;
			color: $dark-gray;
			background: transparentize(#f0f1f8, 0.32);
			
			> span {
				font-weight: bold;
			}
		}
		
		> button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			padding: 0 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			transition: background 0.3s;
			
			&:hover,
			&:focus {
				background: #051e34 !important;
			}
		}
	}
}
