@mixin top($degrees, $is-right, $top-color: #5a2aff, $bottom-color: #00e5f4) {
	background: linear-gradient(to bottom, $top-color, $bottom-color);
	transform: skewY(if($is-right, 1, -1) * $degrees);
	transform-origin: top if($is-right, right, left);
}
