@use 'mixins' as *;

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 30px 0;
	transition: padding 0.3s;
	
	@media (min-width: 1010px) {
		padding-left: 135px;
		padding-right: 135px;
	}
	
	> .logo {
		margin-right: 12px;
		
		.logoImage {
			@include raise-on-hover;
			
			max-height: 60px;
		}
	}
	
	> .items {
		$height: 44px;
		
		display: flex;
		align-items: center;
		margin-left: auto;
		
		@media (min-width: 800px) {
			> .market-search-link {
				display: block !important;
			}
			
			> .market-link {
				display: none !important;
			}
		}
		
		> * {
			flex-shrink: 0;
			height: $height;
		}
		
		> .market-search-link {
			display: none;
		}
		
		> .market-link {
			line-height: $height;
			font-size: larger;
			background: transparentize(#eee, 0.8);
			border-radius: 8px;
			
			&:hover > svg {
				color: white;
				transform: translateY(-2px);
			}
			
			> svg {
				width: $height;
				color: #eee;
				transition: color 0.3s, transform 0.3s;
			}
		}
		
		> .auth-button,
		> .dashboard-button {
			margin: 0 12px;
			padding: 0 14px;
			line-height: $height;
			font-size: larger;
			font-weight: 900;
			color: white;
			background: #051e34;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s;
			
			&:hover,
			&:focus {
				color: #051e34;
				background: white;
			}
		}
		
		> .auth-button {
			> p > span {
				opacity: 0.7;
			}
			
			@media (min-width: 585px) {
				> p {
					display: block !important;
				}
				
				> svg {
					display: none;
				}
			}
			
			> p {
				display: none;
			}
		}
	}
}
