@use 'variables' as *;

.root {
	min-height: 100vh;
	background: $light-gray;
}

.title {
	margin: 100px 30px 0 30px;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
	color: white;

	@media (min-width: 360px) {
		margin-top: 120px;
		font-size: 30px;
	}

	@media (min-width: 470px) {
		margin-top: 140px;
		font-size: 40px;
	}

	@media (min-width: 740px) {
		font-size: 60px;
	}

	@media (min-width: 1300px) {
		margin-top: 180px;
	}
}
