@import '../../variables';
@import '../../mixins';

@include modal-content('deck-intro') {
	$max-width: 800px;
	$margin: 20px;
	
	width: calc(min(100vw - #{$margin * 2}, #{$max-width}));
	overflow: hidden;
	background: white;
	border-radius: 8px;
	
	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
		color: white;
		background: #051e34;
		
		> .title {
			font-size: 26px;
			font-weight: 900;
		}
		
		> button {
			margin-right: 8px;
			transform: scale(2);
			transition: opacity 0.3s;
			
			&:hover {
				opacity: 0.5;
			}
		}
	}
	
	> .content {
		display: flex;
		justify-content: space-between;
		margin: 20px;
		
		> .left {
			> a {
				color: $blue-400;
			}
		}
		
		> .right {
			width: 300px;
			transform: rotate(6deg);
			transition: transform 0.3s;
			
			&:hover {
				transform: none;
			}
		}
	}
}
