@import '../../variables';

.modal {
	display: grid;
	position: absolute;
	justify-content: center;
	align-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: $modal-z-index;
	transition: background 0.3s;
	
	&.showing {
		pointer-events: all;
		background: transparentize(black, 0.5);
		
		> .content {
			opacity: 1;
			transform: none;
		}
	}
	
	> .content {
		opacity: 0;
		transform: translateY(-100px);
		transition: opacity 0.3s, transform 0.3s;
	}
}
