@import '../../variables';
@import '../../mixins';
@import '../../functions';

@include modal-content('contact-user') {
	$max-width: 800px;
	$margin: 20px;
	
	display: flex;
	flex-direction: column;
	width: css-min($max-width, calc(100vw - #{$margin * 2}));
	overflow: hidden;
	margin: $margin;
	background: white;
	border-radius: 8px;
	
	> .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px;
		color: white;
		background: linear-gradient(10deg, #5a2aff, #00e5f4);
		
		> .title {
			@include overflow-ellipsis;
			
			font-size: 22px;
			font-weight: 900;
			
			@media (min-width: 420px) {
				margin-bottom: 0;
				font-size: 24px;
			}
			
			@media (min-width: 485px) {
				font-size: 30px;
			}
		}
		
		> .hide {
			flex-shrink: 0;
			margin: 0 8px 0 20px;
			transform: scale(2);
			transition: opacity 0.3s;
			
			&:hover {
				opacity: 0.5;
			}
		}
	}
	
	> form {
		display: flex;
		flex-direction: column;
		padding: 8px 30px 30px;
		overflow-y: auto;
		
		> label {
			margin: 15px 0 12px;
			font-weight: 900;
			color: $dark-gray;
			
			> span {
				opacity: 0.7;
			}
		}
		
		> input,
		> textarea {
			color: $dark-gray;
			background: transparentize(#f0f1f8, 0.18);
			border-radius: 15px;
		}
		
		> input {
			padding: 12px 20px;
		}
		
		> textarea {
			min-height: 100px;
			height: 150px;
			padding: 16px 20px;
		}
		
		> .footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 24px;
			
			> .submit-button {
				$small-dimension: 43px;
				
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 112px;
				height: $small-dimension;
				font-size: 18px;
				font-weight: 900;
				color: white;
				background: #5a2aff;
				border-radius: 100px;
				transition: width 0.3s, background 0.3s, opacity 0.3s;
				
				&.loading,
				&.success {
					width: $small-dimension;
				}
				
				&.success {
					background: #00d388;
					opacity: 1 !important;
					
					> svg {
						transform: scale(1.1) translateY(1px);
					}
				}
				
				&.disabled {
					opacity: 0.5;
				}
				
				&:not(:disabled):hover {
					background: #051e34;
				}
			}
			
			> .error-message {
				margin-left: 20px;
				font-weight: 900;
				color: $red-600;
			}
		}
	}
}
