.scroll-indicator {
	width: 34px;
	height: 55px;
	border-radius: 25px;
	border: 2px solid white;
	opacity: 0.75;
	
	> div {
		width: 3px;
		height: 10px;
		margin: 0.5rem auto 0 auto;
		border-radius: 25%;
		animation: scroll-indicator 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
	}
}

@keyframes scroll-indicator {
	from {
		opacity: 0;
	}
	
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	
	to {
		transform: translateY(15px);
		opacity: 0;
	}
}
