$horizontal-padding: 20px;

.root {
	flex-shrink: 0;
	display: flex;
	position: relative;
	flex-direction: column;
	width: 300px;
	background: #051e34;
	z-index: 1;
	box-shadow: -4px 0 30px 0 transparentize(black, 0.1);
}

.logoContainer {
	$vertical-padding: 15px;
	
	flex-shrink: 0;
	display: block;
	padding: $vertical-padding 0 $vertical-padding ($horizontal-padding + 12px);
	
	&:hover .logo {
		transform: translateY(-2px);
	}
}

.logo {
	display: block;
	height: 41px;
	transition: transform 0.3s;
}

.divider {
	$height: 2px;
	
	flex-shrink: 0;
	margin: 0 $horizontal-padding;
	height: $height;
	background: transparentize(white, 0.9);
	border-radius: $height / 2;
}

.searchContainer {
	flex-shrink: 0;
	position: relative;
	margin: 15px $horizontal-padding 0;
}

.searchIcon {
	$offset: 12px;
	
	position: absolute;
	top: $offset;
	left: $offset;
	color: white;
}

.searchInput {
	$vertical-padding: 10px;
	
	width: 100%;
	padding: $vertical-padding 6px $vertical-padding 36px;
	color: white;
	background: transparentize(#eee, 0.9);
	border-radius: 8px;
	
	&::placeholder {
		color: #a0aec0;
	}
}

.posts {
	$vertical-padding: 20px;
	
	flex-grow: 1;
	overflow-y: auto;
	margin-top: $vertical-padding / 2;
	padding: ($vertical-padding / 2) 0 $vertical-padding;
}
