@mixin stack {
	display: grid;
	
	> * {
		grid-row: 1;
		grid-column: 1;
	}
}

@mixin raise-on-hover {
	transition: box-shadow 0.25s, transform 0.25s;
	
	&:hover,
	&:focus {
		transform: translateY(-2px) !important;
	}
}

@mixin shadow-raise-on-hover {
	@include raise-on-hover;
	
	&:hover,
	&:focus {
		@include shadow-lg;
	}
}

@mixin shadow-lg {
	box-shadow:
		0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin top-gradient($degrees, $is-right, $top-color: #5a2aff, $bottom-color: #00e5f4) {
	background: linear-gradient(to bottom, $top-color, $bottom-color);
	transform: skewY(if($is-right, 1, -1) * $degrees);
	transform-origin: top if($is-right, right, left);
}

@mixin dashboard-sidebar-collapse($class, $max-width) {
	@media (max-width: $max-width) {
		.dashboard.#{$class} {
			--sidebar-width: 0px;
			
			> .sidebar {
				display: none;
			}
		}
	}
}

@mixin home-content-overlay-gradient($class) {
	.home > .top-gradient > .content > .#{$class} {
		@content;
	}
}

@mixin home-content($class) {
	.home > .#{$class} {
		@content;
	}
}

@mixin dashboard-content($class) {
	.dashboard.#{$class} > .content > .container > .foreground {
		@content;
	}
}

@mixin modal-content($class) {
	.modal.#{$class} > .content {
		@content;
	}
}

@mixin ck-editor-dropdown {
	.ck.ck-dropdown__panel.ck-dropdown__panel_sw > .ck.ck-toolbar > .ck.ck-toolbar__items {
		@content;
	}
}

@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin prepare-for-line-limit {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin line-limit($lines) {
	@include prepare-for-line-limit;
	
	-webkit-line-clamp: $lines;
}

@mixin card-side-katex-width($width) {
	.card-side .katex-display {
		width: $width;
	}
}

@mixin disqus {
	#disqus_thread {
		@content;
	}
}
