@mixin stack {
	display: grid;
	
	> * {
		grid-row: 1;
		grid-column: 1;
	}
}

@mixin raise-on-hover {
	transition: box-shadow 0.25s, transform 0.25s;
	
	&:hover,
	&:focus {
		transform: translateY(-2px) !important;
	}
}

@mixin shadow-raise-on-hover {
	@include raise-on-hover;
	
	&:hover,
	&:focus {
		@include shadow-lg;
	}
}

@mixin shadow-lg {
	box-shadow:
		0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin top-gradient($is-right) {
	background: linear-gradient(to bottom, #5a2aff, #00e5f4);
	transform: skewY(if($is-right, 1, -1) * 6deg);
	transform-origin: top if($is-right, right, left);
}

@mixin dashboard-content($class) {
	.dashboard > .content > .container > .foreground.#{$class} {
		@content;
	}
}

@mixin modal-content($class) {
	.modal.#{$class} > .content {
		@content;
	}
}

@mixin ck-editor-dropdown {
	.ck.ck-dropdown__panel.ck-dropdown__panel_sw > .ck.ck-toolbar > .ck.ck-toolbar__items {
		@content;
	}
}
