[data-aos='disappear'] {
	transform: translateX(0);
	opacity: 1;
	transition-property: transform, opacity;
	
	&.aos-animate {
		transform: translateX(100%);
		opacity: 0;
	}
}

[data-aos='disappear-with-fade'] {
	opacity: 1;
	transition-property: opacity;
	
	&.aos-animate {
		opacity: 0;
	}
}

[data-aos='home-screenshots-background'] {
	opacity: 0.5;
	z-index: -1;
	transition-property: opacity, z-index;
	
	&.aos-animate {
		opacity: 1;
		z-index: 0;
	}
}
