@import 'global.scss';

#get-deck {
	font-family: $font-family;
	height: 100vh;
	padding: 20px;
	background: $gradient-background;
	
	#buttons {
		display: flex;
		margin-top: 20px;
		
		#error-message {
			height: min-content;
			font-weight: bolder;
			color: $light-blue-error-message;
		}
		
		#get-button {
			width: 100px;
		}
		
		#sign-out-button {
			margin-left: auto;
		}
	}
}
