#get-deck {
	font-family: Muli, Arial, Helvetica, sans-serif;
	height: 100vh;
	padding: 20px;
	background: linear-gradient(to right, #cb34b5, #44a6bb);
	
	#buttons {
		display: flex;
		margin-top: 20px;
		
		#error-message {
			height: min-content;
			font-weight: bolder;
			color: #209cee;
		}
		
		#get-button {
			width: 100px;
		}
		
		#sign-out-button {
			margin-left: auto;
		}
	}
}
