// autoprefixer grid: autoplace

@import '~normalize.css/normalize';
@import '~aos/dist/aos';

@import 'variables';
@import 'animations';

html {
	line-height: 1.5;
}

body,
body *,
body ::before,
body ::after {
	font-family: $font-family;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	outline: none !important;
	border: 0 solid #e2e8f0;
}

hr {
	border: none;
	height: 2px;
	background: #f5f5f5;
}

button:disabled {
	cursor: not-allowed;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

textarea {
	resize: vertical;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: $placeholder-color;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: $placeholder-color;
}

input::placeholder,
textarea::placeholder {
	color: $placeholder-color;
}

button,
[role='button'] {
	cursor: pointer;
}

a {
	text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
}
