.text-dark-gray {
	color: #4a4a4a;
}

.bg-light-gray {
	background: #f5f6fb;
}

.bg-medium-gray {
	background: #efeefa;
}

.stack {
	@apply grid;
	
	> * {
		grid-row: 1;
		grid-column: 1;
	}
}

.raise-on-hover {
	transition: box-shadow 0.25s, transform 0.25s;
	
	&:hover,
	&:focus {
		transform: translateY(-2px) !important;
	}
}

.shadow-raise-on-hover {
	@apply raise-on-hover;
	
	&:hover,
	&:focus {
		@apply shadow-lg;
	}
}
